{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}Add Student Accounts{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/highlight.js/styles/night-owl.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h2>Enrol Students to a Course &#x1F393</h2>

          <p class="text-subtitle text-muted">Enrol a single student account or in bulk!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single account -->
      <div class="col-5 m-2">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Enrol Single Account</h4>
          </div>
          <div class="card-body">
            <form class="form form-vertical" method="post">
              {% csrf_token %}
              <div class="form-body">

                {# non-field errors #}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger py-2">{{ error }}</div>
                {% endfor %}

                <!-- First name input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_first_name">First Name</label>
                    <div class="position-relative">
                      <input type="text" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" name="first_name"
                             id="id_first_name"
                             placeholder="e.g. ADAM" style="text-transform: uppercase"
                             value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                      <div class="form-control-icon"><i class="bi bi-person"></i></div>
                    </div>
                    {# first_name errors #}
                    {% if form.first_name.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.first_name.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Last name input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_last_name">Last Name</label>
                    <div class="position-relative">
                      <input type="text" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" name="last_name" id="id_last_name"
                             placeholder="e.g. TAN" style="text-transform: uppercase"
                             value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                      <div class="form-control-icon"><i class="bi bi-person"></i></div>
                    </div>
                    {# last_name errors #}
                    {% if form.last_name.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.last_name.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Username input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_username">NTU Username</label>
                    <div class="position-relative">
                      <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" name="username"
                             placeholder="e.g. JLEE254" id="id_username" style="text-transform: uppercase"
                             value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                      <div class="form-control-icon"><i class="bi bi-phone"></i></div>
                    </div>
                    {# username errors #}
                    {% if form.username.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.username.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Course selection (single account)-->
                <div class="col-12">
                  <div class="form-group">
                    <label for="id_course">Add to Course</label>

                    <div class="position-relative">
                      {{ form.course }}
                    </div>
                    {# course errors #}
                    {% if form.course.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.course.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>


                <!-- Group input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_group">Course Group</label>
                    <div class="position-relative">
                      <input type="text" class="form-control {% if form.group.errors %}is-invalid{% endif %}" name="group"
                             placeholder="e.g. CS2" id="id_group" style="text-transform: uppercase"
                             value="{% if form.group.value %}{{ form.group.value }}{% endif %}">
                      <div class="form-control-icon"><i class="bi bi-phone"></i></div>
                    </div>
                    {# group errors #}
                    {% if form.group.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.group.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Submit and Reset buttons -->
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                  <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Bulk enrolment -->
      <div class="col-5 m-2">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Bulk Enrolment</h4>
          </div>
          <div class="card-body">
            <div class="alert alert-success" id="upload-result-alert" style="display:none;"></div>
            <p>Upload a <code>.csv</code> file with the following format to enrol student accounts in bulk!</p>
            <h6>CSV format (<a href="{% static 'csv_templates/students.csv' %}" download>Download CSV Template)</a></h6>
            <pre><code class="language-plaintext">first_name,last_name,username,group</code></pre>

            <div>
              <form id="bulk-create-form">

                <!-- File picker -->
                <div class="row form-group">
                  <div class="col-12">
                    <label for="id_course_bulk"><b>Upload</b></label>
                    <input class="form-control" type="file" id="fileInput" accept="text/csv" required>
                  </div>
                </div>

                <!-- Course selection (bulk upload) -->
                <div class="form-group">
                  <div class="position-relative">
                    <label for="id_course_bulk"><b>Add to Course</b></label>
                    <select name="course_bulk" id="id_course_bulk" class="choices form-select">
                      {# displays only courses owned or maintained by the user #}
                      {% for value, text in form.course.field.choices %}
                        <option value="{{ value }}">{{ text }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <!-- Upload button -->
                <div class="col-12 d-flex justify-content-end">
                  <div class="col-2">
                    <button type="submit" id="uploadBtn" class="btn btn-primary me-1 mb-1">Upload</button>
                  </div>
                </div>
              </form>
            </div>

            <div id="bulk-log-div" style="display:none;">
              <hr>
              <h6>Upload results</h6>
              <div id="duplicated-div">
                <label for="duplicated-code"><b>Ignored rows due to invalid format or duplicated <code>username</code> values</b></label>
                <textarea class="form-control" id="duplicated-code" disabled>
                </textarea>
              </div>

              <div id="conflicted-div" class="mt-4">
                <label for="conflicted-code"><b>Accounts not created but added to the Course as they already exist</b></label>
                <textarea class="form-control" id="conflicted-code" disabled>
                </textarea>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/highlight.js/highlight.min.js' %}"></script>
  <script>hljs.highlightAll();</script>

  <!-- initialize tooltips -->
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

  <!-- choices.js script -->
  <script>
      const coursePicker = document.getElementById("id_course");
      const coursePickerBulk = document.getElementById("id_course_bulk");
      let choice1 = new Choices(coursePicker);
      let choice2 = new Choices(coursePickerBulk);
  </script>

  <!-- Bulk create file upload script-->
  <script>
      const form = document.getElementById("bulk-create-form");
      const uploadBtn = document.getElementById("uploadBtn");
      const fileInput = document.getElementById("fileInput");
      const bulkLogDiv = $("#bulk-log-div");
      const uploadResultAlert = $("#upload-result-alert");
      const duplicatedDiv = $("#duplicated-div");
      const conflictedDiv = $("#conflicted-div");
      const duplicatedCode = $("#duplicated-code");
      const conflictedCode = $("#conflicted-code");

      form.onsubmit = function (event) {
          event.preventDefault();

          // hide and reset elements (alert, div)
          uploadResultAlert.hide();
          uploadResultAlert.removeClass("alert-success");
          uploadResultAlert.removeClass("alert-danger");
          bulkLogDiv.hide();

          // disable upload button
          uploadBtn.innerText = 'Uploading...';
          uploadBtn.disabled = true;

          let formData = new FormData();
          formData.append("file", fileInput.files[0]);
          formData.append("course", coursePickerBulk.value);
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax request
          $.ajax({
              type: 'POST',
              url: "{% url 'enrol-students-bulk' %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res, textStatus, jqXHR) => {
              // set correct alert class
              if (res.result === "success") {
                  uploadResultAlert.addClass("alert-success");
                  // if there are removed rows, populate textarea and show, else hide.
                  if (res.removed_rows.length !== 0) {
                      duplicatedCode.html(res.removed_rows.join('\n'));
                      duplicatedDiv.show();
                  } else {
                      duplicatedDiv.hide();
                  }

                  // if there are conflicted rows, populate textarea and show, else hide.
                  if (res.conflicted_rows.length !== 0) {
                      conflictedCode.html(res.conflicted_rows.join('\n'));
                      conflictedDiv.show();
                  } else {
                      conflictedDiv.hide();
                  }

                  // show or hide "ignored rows" div altogether
                  if (res.removed_rows.length !== 0 || res.conflicted_rows.length !== 0) {
                      bulkLogDiv.show();
                  }
              }

              // set alert message and show
              uploadResultAlert.text(res.message);
              uploadResultAlert.show();
          }).fail((jqXHR, textStatus, errorThrown) => {
              uploadResultAlert.addClass("alert-danger");
              // 4xx status codes
              if (Math.floor(jqXHR.status / 100) == 4) {
                uploadResultAlert.text(jqXHR.responseJSON["message"]);
              }
              else {
                uploadResultAlert.text("File upload failed. Please refresh the page and try again!");
              }
              uploadResultAlert.show();
          }).always((res) => {
              // reset upload form
              fileInput.value = "";
              uploadBtn.innerText = 'Upload';
              uploadBtn.disabled = false;
          });

          // to avoid html form submission
          return false;
      }

  </script>
{% endblock %}
