{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}{{ course }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h2>{{ course }}</h2>
          {% if course.active %}
            <span class="badge bg-success">Active</span>
          {% else %}
            <span class="badge bg-secondary">Inactive</span>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Course information card -->
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title ">Course Information</h4>
            {# edit details button #}
            {% if course.owner == request.user %}
              <a class="btn btn-sm btn-danger" href="{% url 'update-course' course_id=course.id %}?next={{ request.path }}">Edit Details</a>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <h6>Course Code</h6>
                <p>{{ course.code }}</p>
              </div>
              <div class="col-4">
                <h6>Course Name</h6>
                <p>{{ course.name }}</p>
              </div>
              <div class="col-4">
                <h6>Course Owner</h6>
                <p>{{ course.owner.username }} ({{ course.owner.name }})</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h6>Academic Year</h6>
                <p>{{ course.year }}</p>
              </div>
              <div class="col-4">
                <h6>Semester</h6>
                <p>{{ course.get_semester_display }}</p>
              </div>
              <div class="col-4">
                <h6>Students</h6>
                <p><span id="students_count">{{ course.students_count }}</span> students enrolled</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Maintainers card -->
      <div class="col-4">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title">Maintainers</h4>
              <p class="card-text">
                Maintainers <b>can add and remove students</b> from the course.
              </p>
              <div class="alert alert-success" id="remove-student-alert" style="display:none;"></div>
              <form id="remove-student-form">
                <!-- Maintainers picker -->
                <div class="spinner-border spinner-border-sm" id="maintainer-loading" style="display:none"></div>
                <select multiple class="form-group" id="maintainers-picker" name="maintainers"
                        {% if course.owner != request.user %} disabled {% endif %}>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-12 m-2">
        <div class="card">
          <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                   aria-selected="true">Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                   aria-selected="false">Assessments</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">

              <!-- First tab (students) -->
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <!-- Filters form -->
                <form method="get">
                  <div class="row mt-4">
                    <h5>Filters</h5>

                    <!-- Username filter -->
                    <div class="col-2">
                      <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control" id="id_username" name="username"
                               value="{{ students_filter.form.username.value|default:"" }}">
                      </div>
                    </div>

                    <!-- First name filter -->
                    <div class="col-3">
                      <div class="form-group">
                        <label for="id_first_name">First Name</label>
                        <input type="text" class="form-control" id="id_first_name" name="first_name"
                               value="{{ students_filter.form.first_name.value|default:"" }}">
                      </div>
                    </div>

                    <!-- Last name filter -->
                    <div class="col-3">
                      <div class="form-group">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" class="form-control" id="id_last_name" name="last_name"
                               value="{{ students_filter.form.last_name.value|default:"" }}">
                      </div>
                    </div>

                    <!-- Course Group filter -->
                    <div class="col-2">
                      <div class="form-group">
                        <label for="id_course_group">Course Group</label>
                        <select name="course_group" id="id_course_group" class="choices form-select">
                          {% for value, text in students_filter.form.course_group.field.choices %}
                            <option value="{{ value }}" {% if students_filter.form.course_group.value == value|stringformat:"s" %}selected{% endif %}>
                              {{ text }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <!-- Filter and clear buttons -->
                    <div class="col-2">
                      <div class="form-group">
                        <label for="id_course_group"></label><br>
                        <button type="submit" class="btn btn-success me-1 mb-1">Filter</button>
                        <a type="submit" class="btn btn-outline-danger me-1 mb-1" href="{% url 'course-details' course_id=course.id %}">Clear</a>
                      </div>
                    </div>
                  </div>
                </form>
                <hr>

                <!-- Students table -->
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                      <th>Username</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Course Group</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if students_filter.qs.count == 0 %}
                      <tr>
                        <td colspan="5" class="text-center">No students found!</td>
                      </tr>
                    {% else %}
                      {% for student in students_filter.qs %}
                        <tr>
                          <td>{{ student.username }}</td>
                          <td>{{ student.first_name }}</td>
                          <td>{{ student.last_name }}</td>
                          <td>
                            {% for cg in student.enrolled_groups.all %}
                              {% if cg.course == course %}
                                {{ cg.name }}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <td>
                            <button class="btn btn-sm btn-success" onclick="removeStudent({{ student.id }}, this)">Remove</button>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Second tab -->
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>

  <!-- Remove students script -->
  <script>
      function removeStudent(student_id, clickedBtn) {
          const tableRow = $(clickedBtn).closest("tr");

          // prepare form data
          let formData = new FormData();
          formData.append("student_id", student_id);
          formData.append("course_id", "{{ course.id }}");
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          if (confirm("Are you sure you wish to remove the student from the course?\nThis action cannot be reversed.") === true) {
              console.log("Remove student confirmed.");
          } else {
              return false;
          }

          // disable button
          $(clickedBtn).prop('disabled', true);
          $(clickedBtn).html('<div class="spinner-border spinner-border-sm">');

          // ajax request
          $.ajax({
              type: 'POST',
              url: "{% url 'remove-student-from-course' %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res) => {
              setTimeout(() => {
                  if (res.result === "success") {
                      Toastify({
                          text: "The student has been removed successfully!",
                          duration: 2000,
                          position: "center",
                          style: {"background": "#77DD77"}
                      }).showToast();

                      // show check mark in button
                      $(clickedBtn).html('<i class="fa-solid fa-check"></i>');

                      // remove row from table
                      tableRow.fadeOut('slow', () => {
                          tableRow.remove();
                      });
                  } else {
                      Toastify({
                          text: res.msg,
                          duration: -1,
                          position: "center",
                          style: {"background": "#ff6961"}
                      }).showToast();

                      // re-enable button
                      $(clickedBtn).prop('disabled', false);
                      $(clickedBtn).html('Remove');
                  }
              }, 300);
          }).fail((res) => {
              Toastify({
                  text: "An error has occurred while removing the student. Please refresh the page.",
                  duration: 5000,
                  position: "center",
                  style: {"background": "#ff6961"}
              }).showToast();

              // reset the button
              $(clickedBtn).html('<i class="fa-solid fa-xmark"></i>');
              $(clickedBtn).removeClass('btn-success');
              $(clickedBtn).addClass('btn-danger');

          }).always((res) => {
          });
      }
  </script>

  <!-- Maintainers selector script -->
  <script>
      const maintainerLoading = $("#maintainer-loading");
      const maintainersPicker = document.getElementById("maintainers-picker");
      let maintainers_arr = [
          {% for user in staff %}
              {
                  value: '{{ user.id }}',
                  label: '{{ user.username }} ({{ user.name }})',
                  selected: {% if user in course.maintainers.all %} true {% else %} false {% endif %}
              },
          {% endfor %}
      ]
      let choice2 = new Choices(maintainersPicker, {
          removeItemButton: true,
          choices: maintainers_arr,
      });

      // when user adds a new maintainer
      maintainersPicker.addEventListener("addItem", (event) => {
          maintainerLoading.show();
          choice2.disable();

          // prepare data
          let formData = new FormData();
          formData.append("maintainer_id", event.detail.value);
          formData.append("action", "add");
          formData.append("course_id", "{{ course.id }}");
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax request
          $.ajax({
              type: 'POST',
              url: "{% url 'update-course-maintainer' %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res) => {
              setTimeout(() => {
                  if (res.result === "success")
                      Toastify({
                          text: "The maintainer has been added successfully!",
                          duration: 2000,
                          position: "center",
                          style: {"background": "#77DD77"}
                      }).showToast();
                  else {
                      Toastify({
                          text: "Unable to add maintainer to course! Please refresh the page.",
                          duration: 5000,
                          position: "center",
                          style: {"background": "#ff6961"}
                      }).showToast();
                  }
              }, 300);
          }).fail((res) => {
              Toastify({
                  text: "An error has occurred while adding the maintainer. Please refresh the page.",
                  duration: 5000,
                  position: "center",
                  style: {"background": "#ff6961"}
              }).showToast();
          }).always((res) => {
              setTimeout(() => {
                  choice2.enable();
                  maintainerLoading.hide();
              }, 300)
          });
      })

      // when user removes a maintainer
      maintainersPicker.addEventListener("removeItem", (event) => {
          choice2.disable();
          maintainerLoading.show();

          // prepare data
          let formData = new FormData();
          formData.append("maintainer_id", event.detail.value);
          formData.append("action", "remove");
          formData.append("course_id", "{{ course.id }}");
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax request
          $.ajax({
              type: 'POST',
              url: "{% url 'update-course-maintainer' %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res) => {
              setTimeout(() => {
                  if (res.result === "success")
                      Toastify({
                          text: "The maintainer has been removed successfully!",
                          duration: 2000,
                          position: "center",
                          style: {"background": "#77DD77"}
                      }).showToast();
                  else {
                      Toastify({
                          text: "Unable to remove maintainer from the course! Please refresh the page.",
                          duration: 5000,
                          position: "center",
                          style: {"background": "#ff6961"}
                      }).showToast();
                  }
              }, 300);
          }).fail((res) => {
              Toastify({
                  text: "An error has occurred while removing the maintainer. Please refresh the page.",
                  duration: 5000,
                  position: "center",
                  style: {"background": "#ff6961"}
              }).showToast();
          }).always((res) => {
              setTimeout(() => {
                  choice2.enable();
                  maintainerLoading.hide();
              }, 300);
          });
      })

  </script>

{% endblock %}
