{% load static %}
{% load utils %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  <title>
    {% block title %}{% endblock %}
  </title>

  {% block stylesfirst %}{% endblock %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  {% block styles %}{% endblock %}

  <!-- Page plugins -->
  <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/all.min.css' %}">
  <!-- Mazer CSS -->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>

<body>
<div id="app">
  <div id="sidebar" class="active">
    {% include "layouts/sidebar.html" %}
  </div>
  <div id="main" class='layout-navbar'>
    <header class='mb-3'>
      <nav class="navbar navbar-expand navbar-light ">
        <div class="container-fluid">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown me-1">
                <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  <i class='bi bi-envelope bi-sub fs-4 text-gray-600'></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                  <li>
                    <h6 class="dropdown-header">Mail</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">No new mail</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown me-3">
                <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  <i class='bi bi-bell bi-sub fs-4 text-gray-600'></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                  <li>
                    <h6 class="dropdown-header">Notifications</h6>
                  </li>
                  <li><a class="dropdown-item">No notification available</a></li>
                </ul>
              </li>
            </ul>
            <div class="dropdown">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user-menu d-flex">
                  <div class="user-name text-end me-3">
                    <h6 class="mb-0 text-gray-600">{{ request.user.username }}</h6>
                    {% if request.user.is_superuser %}
                      <span class="badge bg-light-danger">ADMIN</span>
                    {% elif request.user|has_group:'student' %}
                      <span class="badge bg-light-success">STUDENT</span>
                    {% elif request.user|has_group:'educator' %}
                      <span class="badge bg-light-warning">EDUCATOR</span>
                    {% elif request.user|has_group:'lab_assistant' %}
                      <span class="badge bg-light-info">LAB ASSISTANT</span>
                    {% endif %}
                  </div>
                  <div class="user-img d-flex align-items-center">
                    <div class="avatar avatar-md">
                      <img src="{% static 'images/faces/1.jpg' %}">
                    </div>
                  </div>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id="main-content">

      {% include 'includes/messages.html' %}

      {% block content %}
      {% endblock %}

      <!-- Footer -->
      {% include 'includes/footer.html' %}
    </div>
  </div>
</div>

<script src="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>

<!-- Specific JS -->
{% block js %}{% endblock %}

<script src="{% static 'js/mazer.js' %}"></script>
</body>

</html>