{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}Update Assessment{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h2>Update Assessment &#x1F4DD;</h2>
          <p class="text-subtitle text-muted">Update assessment details!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5 m-2">
        <div class="card">
          <div class="card-body">
            <h5>General</h5>
            <form class="form form-vertical" method="post">
              {% csrf_token %}
              <div class="form-body">

                {# non-field errors #}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger py-2">{{ error }}</div>
                {% endfor %}

                <!-- Course selection -->
                <div class="col-12">
                  <div class="form-group">
                    <label for="id_course">Course</label>
                    <div class="position-relative">
                      <select name="course" id="id_course" class="choices form-select">
                        {# displays only courses owned or maintained by the user #}
                        {% for value, text in form.course.field.choices %}
                          <option value="{{ value }}" {% if value == form.course.value|add:"0" %}selected{% endif %}>{{ text }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {# course errors #}
                    {% if form.course.errors %}
                      <p class="text-danger">
                        {% for e in form.course.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Assessment name input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_name">Assessment Name</label>
                    <div class="position-relative">
                      <input type="text"
                             class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                             name="name" id="id_name" placeholder="e.g. Mid-term Quiz" maxlength="{{ form.fields.name.max_length }}"
                             value="{{ form.name.value|default:"" }}"
                             {% if form.fields.name.required %}required{% endif %}
                      >
                      <div class="form-control-icon"><i class="bi bi-type"></i></div>
                    </div>
                    {# assessment name errors #}
                    {% if form.name.errors %}
                      <p class="text-danger">
                        {% for e in form.name.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Instructions input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_instructions">Pre-quiz Instructions</label>
                    <div class="position-relative">
                      <textarea class="form-control {% if form.instructions.errors %}is-invalid{% endif %}" name="instructions" id="id_instructions"
                                {% if form.fields.instructions.required %}required{% endif %}
                      >{{ form.instructions.value|default:"" }}</textarea>
                      <div class="form-control-icon"><i class="bi bi-type"></i></div>
                    </div>
                    {# instructions errors #}
                    {% if form.instructions.errors %}
                      <p class="text-danger">
                        {% for e in form.instructions.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <hr/>

                <h5>Date and Time</h5>
                <div class="row">
                  <p>Here, you can <b>optionally</b> set the allowed period where candidates can begin the assessment.</p>
                  <!-- Time start -->
                  <div class="form-group col-6">
                    <label for="id_time_start">Date/Time Start</label>
                    <input class="flatpickr flatpickr-input active form-control {% if form.time_start.errors %}is-invalid{% endif %}"
                           id="id_time_start" name="time_start" type="text" placeholder="Select Start Date.."
                           value="{{ form.time_start.value|date:'Y-m-d H:i'|default:"" }}">
                    {# time_start errors #}
                    {% if form.time_start.errors %}
                      <p class="text-danger">
                        {% for e in form.time_start.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- Time end -->
                  <div class="form-group col-6">
                    <label for="id_time_end">Date/Time End</label>
                    <input class="flatpickr flatpickr-input active form-control {% if form.time_end.errors %}is-invalid{% endif %}"
                           id="id_time_end" name="time_end" type="text" placeholder="Select End Date.." value="{{ form.time_end.value|date:'Y-m-d H:i'|default:"" }}">
                    {# time_end errors #}
                    {% if form.time_end.errors %}
                      <p class="text-danger">
                        {% for e in form.time_end.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- Clear button -->
                  <div class="col-3 float-end">
                    <button type="button" class="btn btn-sm btn-success" onclick="clearDates()">Clear</button>
                  </div>
                </div>

                <hr/>

                <h5>Assessment Options</h5>
                <div class="row">
                  <!-- Duration input -->
                  <div class="form-group col-6">
                    <label for="id_duration">Duration (mins)</label>
                    <input type="number" name="duration" class="form-control {% if form.duration.errors %}is-invalid{% endif %}" min="0"
                           value="{{ form.duration.value|default:"60" }}" id="id_duration">
                    <small class="text-muted">(0 for unlimited)</small>
                    {# duration errors #}
                    {% if form.duration.errors %}
                      <p class="text-danger">
                        {% for e in form.duration.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- No. attempts input -->
                  <div class="form-group col-6">
                    <label for="id_num_attempts">No. Attempts</label>
                    <input type="number" name="num_attempts" class="form-control {% if form.num_attempts.errors %}is-invalid{% endif %}" min="0"
                           value="{{ form.num_attempts.value|default:"1" }}" id="id_num_attempts">
                    <small class="text-muted">(0 for unlimited)</small>
                    {# num_attempts errors #}
                    {% if form.num_attempts.errors %}
                      <p class="text-danger">
                        {% for e in form.num_attempts.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- Show grade checkbox -->
                  <div class="checkbox">
                    <input type="checkbox" id="id_show_grade" name="show_grade" class="form-check-input me-2"
                           {% if form.show_grade.value %}checked{% endif %}>
                    <label for="id_show_grade">Show Grade</label>
                  </div>
                </div>

                <!-- Submit and Reset buttons -->
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                  <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset
                  </button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- datetime pickers -->
  <script>
      const timeStartPicker = $("#id_time_start");
      const timeEndPicker = $("#id_time_end");
      const picker1 = timeStartPicker.flatpickr({
          enableTime: true,
          dateFormat: "Y-m-d H:i",
      });
      const picker2 = timeEndPicker.flatpickr({
          enableTime: true,
          dateFormat: "Y-m-d H:i",
      });
  </script>

  <!-- Handle forever checkbox -->
  <script>
      const unlimitedChanged = (checkbox) => {
          if (checkbox.checked) {  // checked
              // clear the datepickers
              picker1.clear();
              picker2.clear();

              // disable elements
              timeStartPicker.prop('disabled', true);
              timeEndPicker.prop('disabled', true);

              // set placeholder
              timeStartPicker.prop('placeholder', 'Unlimited')
              timeEndPicker.prop('placeholder', 'Unlimited')

              // set disabled cursor
              timeStartPicker.css('cursor', 'not-allowed');
              timeEndPicker.css('cursor', 'not-allowed');

              // set not required
              timeStartPicker.prop('required', false);
              timeEndPicker.prop('required', false);

          } else {  // unchecked
              // enable elements
              timeStartPicker.prop('disabled', false);
              timeEndPicker.prop('disabled', false);

              // set placeholder
              timeStartPicker.prop('placeholder', 'Set Start Time...')
              timeEndPicker.prop('placeholder', 'Set End Time...')

              // set disabled cursor
              timeStartPicker.prop('style', '');
              timeEndPicker.prop('style', '');

              // set required
              timeStartPicker.prop('required', true);
              timeEndPicker.prop('required', true);
          }
      };
  </script>

  <!-- Clear dates script -->
  <script>
      const clearDates = () => {
          // clear the datepickers
          picker1.clear();
          picker2.clear();
      };
  </script>
{% endblock %}
