{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}New Question Bank{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h2>New Question Bank</h2>
          <p class="text-subtitle text-muted">Create a new question bank!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5 m-2">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title ">Question Bank Information</h4>
          </div>
          <div class="card-body">
            <form class="form form-vertical" method="post">
              {% csrf_token %}
              <div class="form-body">

                {# non-field errors #}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger py-2">{{ error }}</div>
                {% endfor %}

                <!-- Question bank name input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_name">Name</label>
                    <div class="position-relative">
                      <input type="text"
                             class="form-control {% if form.code.errors %}is-invalid{% endif %}"
                             name="name" id="id_name"
                             placeholder="e.g. Super secret questions"
                             maxlength="{{ form.fields.name.max_length }}"
                             value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
                             {% if form.fields.name.required %}required{% endif %}
                      >
                      <div class="form-control-icon"><i class="bi bi-hash"></i></div>
                    </div>
                    {# question bank name errors #}
                    {% if form.name.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.name.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Question bank description input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_description">Description</label>
                    <div class="position-relative">
                      <textarea class="form-control {% if form.description.errors %}is-invalid{% endif %}" name="description" id="id_description"
                                {% if form.fields.description.required %}required{% endif %}
                      >{{ form.description.value|default:"" }}</textarea>
                      <div class="form-control-icon"><i class="bi bi-type"></i></div>
                    </div>
                    {# question bank description errors #}
                    {% if form.description.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.description.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Private/public input -->
                <div class="col-12 mt-4">
                  <div class="form-check">
                    <div class="checkbox">
                      <input type="checkbox" id="id_private" name="private" class="form-check-input" checked="">
                      <label for="id_private">Make Question Bank Private</label>
                    </div>
                  </div>

                  {# year errors #}
                  {% if form.private.errors %}
                    <p class="text-danger">{{ e }}
                      {% for e in form.private.errors %}
                        {{ e }}<br>
                      {% endfor %}
                    </p>
                  {% endif %}
                </div>


                <!-- Submit and Reset buttons -->
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                  <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset
                  </button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
{% endblock %}
