{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}View Question Bank{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/highlight.js/styles/intellij-light.css' %}">
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h5>Question Bank</h5>
          <h2>{{ question_bank.name }}</h2>
          {% if question_bank.owner == request.user %}
            <span class="badge bg-light-secondary"><i class="fa-solid fa-check pe-2"></i>You own this question bank</span>
          {% else %}
            <span class="badge bg-light-secondary"><i class="fa-solid fa-user-group pe-2"></i>Shared with you</span>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Question bank information card -->
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title ">Question Bank Information</h4>
            {# edit details button #}
            {% if question_bank.owner == request.user %}
              <a class="btn btn-sm btn-danger" href="{% url 'update-question-bank' question_bank_id=question_bank.id %}?next={{ request.path }}">Edit
                Details</a>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <h6>Name</h6>
                <p>{{ question_bank.name }}</p>
              </div>
              <div class="col-3">
                <h6>Owner</h6>
                <p>{{ question_bank.owner }}</p>
              </div>
              <div class="col-2">
                <h6>Visibility</h6>
                {% if question_bank.private %}
                  <span class="badge bg-success"><i class="fa-solid fa-lock pe-2"></i>Private</span>
                {% else %}
                  <span class="badge bg-light-danger"><i class="fa-solid fa-lock-open pe-2"></i>Public</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6>Description</h6>
                <p>{{ question_bank.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Maintainers card -->
      <div class="col-4">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title">Sharing & Exporting</h4>
              <p class="card-text">
                These users can view and use questions from this question bank.
              </p>
              <form>
                <!-- Shared With picker -->
                <div class="spinner-border spinner-border-sm" id="shared-with-loading" style="display:none"></div>
                <select multiple class="form-group" id="shared-with-picker" name="shared-with"
                        {% if question_bank.owner != request.user %} disabled {% endif %}>
                </select>
              </form>
              <hr>
              <a class="text-warning" href="{% url 'export-question-bank' question_bank_id=question_bank.id %}">
                <i class="fa-solid fa-download pe-1"></i>
                Export question bank (json)
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-12 m-2">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Questions</h3>
          </div>

          <div class="card-body">
            <!-- Code question section -->
            <!-- Add new code question button -->
            {% if question_bank.owner == request.user %}
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5>Code Questions</h5>
                <a class="btn btn-sm btn-success float-end" href="{% url 'create-code-question' parent='qb' parent_id=question_bank.id %}">
                  Create New
                </a>
              </div>
            {% endif %}

            <!-- Code questions table -->
            <table class="table-responsive table table-hover mb-0">
              <thead>
              <tr>
                <th>Name</th>
                <th>Test Cases</th>
                <th>Max Score</th>
                <th>Languages</th>
                <th>Tags</th>
                <th>Actions
                  <div class="spinner-border spinner-border-sm" id="actions-loading" style="display:none"></div>
                </th>
              </tr>
              </thead>
              <tbody>
              {% if question_bank.codequestion_set.count == 0 %}
                <tr>
                  <td colspan="5" class="text-center">No code questions found</td>
                </tr>
              {% else %}
                {% for q in question_bank.codequestion_set.all %}
                  <tr>
                    <td>{{ q.name }}</td>
                    <td>
                      {% if q.testcase_set.count == 0 %}
                        <span class="badge bg-light-danger">No test cases set</span>
                      {% else %}
                        {{ q.testcase_set.count }}
                      {% endif %}
                    </td>
                    <td>{{ q.max_score }}</td>
                    <td>
                      {% if q.languages.count == 0 %}
                        <span class="badge bg-light-danger">No languages set</span>
                      {% else %}
                        {% for lang in q.languages|slice:":2" %}
                          <span class="badge bg-light-secondary">{{ lang.name }}</span>
                        {% endfor %}
                        {% if q.languages.count > 2 %}
                          <span class="badge bg-light-secondary">+{{ q.languages.count|add:"-2" }} more</span>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if q.tags.all.count == 0 %}
                        -
                      {% else %}
                        {% for tag in q.tags.all %}
                          <span class="badge bg-light-secondary">{{ tag.name }}</span>
                        {% endfor %}
                      {% endif %}
                    </td>
                    <td>
                      <button type="button" id="more-details" class="btn btn-sm btn-primary view-modal" data-cq-id="{{ q.id }}"
                              onclick="viewModal(this)">
                        View
                      </button>
                      {% if question_bank.owner == request.user %}
                        <div class="btn-group">
                          <div class="dropdown">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">Edit
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'update-code-question' code_question_id=q.id %}">Description</a>
                              <a class="dropdown-item" href="{% url 'update-test-cases' code_question_id=q.id %}?next={{ request.path }}">
                                Test Cases
                              </a>
                              <a class="dropdown-item"
                                 href="{% url 'update-languages' code_question_id=q.id %}?next={{ request.path }}">Languages</a>
                            </div>
                          </div>
                        </div>
                        <button data-code_question_id="{{ q.id }}" type="button" class="btn btn-sm btn-danger"
                                onclick="deleteCodeQuestion(this);">Delete
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <!-- Modal: View code questions -->
    {% include 'code_questions/snippets/view-modal.html' %}

  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>

  <!-- 'Shared with' selector script -->
  <script>
      const loadingSpinner = $("#shared-with-loading");
      const sharedWithPicker = document.getElementById("shared-with-picker");
      let staff_arr = [
          {% for user in staff %}
              {
                  value: '{{ user.id }}',
                  label: '{{ user.username }} ({{ user.name }})',
                  selected: {% if user in question_bank.shared_with.all %} true {% else %} false {% endif %}
              },
          {% endfor %}
      ]
      let choice = new Choices(sharedWithPicker, {
          removeItemButton: true,
          choices: staff_arr,
      });

      // user added to share
      sharedWithPicker.addEventListener("addItem", (event) => {
          loadingSpinner.show();
          choice.disable();

          // prepare data
          let formData = new FormData();
          formData.append("user_id", event.detail.value);
          formData.append("action", "add");
          formData.append("question_bank_id", "{{ question_bank.id }}");
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax request
          $.ajax({
              type: 'POST',
              url: "{% url 'update-qb-shared-with' %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res) => {
              setTimeout(() => {
                  if (res.result === "success")
                      Toastify({
                          text: "The user has been added successfully!",
                          duration: 2000,
                          position: "center",
                          style: {"background": "#77DD77"}
                      }).showToast();
                  else {
                      Toastify({
                          text: "Unable to add user to the question bank! Please refresh the page.",
                          duration: 5000,
                          position: "center",
                          style: {"background": "#ff6961"}
                      }).showToast();
                  }
              }, 300);
          }).fail((res) => {
              Toastify({
                  text: "An error has occurred while adding the user. Please refresh the page.",
                  duration: 5000,
                  position: "center",
                  style: {"background": "#ff6961"}
              }).showToast();
          }).always((res) => {
              setTimeout(() => {
                  choice.enable();
                  loadingSpinner.hide();
              }, 300)
          });
      })

      // user removed from share
      sharedWithPicker.addEventListener("removeItem", (event) => {
          choice.disable();
          loadingSpinner.show();

          // prepare data
          let formData = new FormData();
          formData.append("user_id", event.detail.value);
          formData.append("action", "remove");
          formData.append("question_bank_id", "{{ question_bank.id }}");
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax request
          $.ajax({
              type: 'POST',
              url: "{% url 'update-qb-shared-with' %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res) => {
              setTimeout(() => {
                  if (res.result === "success")
                      Toastify({
                          text: "User successfully removed from share!",
                          duration: 2000,
                          position: "center",
                          style: {"background": "#77DD77"}
                      }).showToast();
                  else {
                      Toastify({
                          text: "Unable to remove user from the question bank! Please refresh the page.",
                          duration: 5000,
                          position: "center",
                          style: {"background": "#ff6961"}
                      }).showToast();
                  }
              }, 300);
          }).fail((res) => {
              Toastify({
                  text: "An error has occurred while removing the user. Please refresh the page.",
                  duration: 5000,
                  position: "center",
                  style: {"background": "#ff6961"}
              }).showToast();
          }).always((res) => {
              setTimeout(() => {
                  choice.enable();
                  loadingSpinner.hide();
              }, 300);
          });
      })

  </script>

  <!-- Delete question script -->
  {% include 'code_questions/snippets/delete-code-question-script.html' %}

  {% include 'code_questions/snippets/view-modal-script.html' %}

{% endblock %}
