{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}Update Question Bank{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h2>Update Question Bank</h2>
          <p class="text-subtitle text-muted">Update question bank details!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Update form -->
      <div class="col-5 m-2">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title ">Question Bank Information</h4>
          </div>
          <div class="card-body">
            <form class="form form-vertical" method="post">
              {% csrf_token %}
              <div class="form-body">

                {# non-field errors #}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger py-2">{{ error }}</div>
                {% endfor %}

                <!-- Question bank name input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_name">Name</label>
                    <div class="position-relative">
                      <input type="text"
                             class="form-control {% if form.code.errors %}is-invalid{% endif %}"
                             name="name" id="id_name"
                             placeholder="e.g. Super secret questions"
                             maxlength="{{ form.fields.name.max_length }}"
                             value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
                             {% if form.fields.name.required %}required{% endif %}
                      >
                      <div class="form-control-icon"><i class="bi bi-hash"></i></div>
                    </div>
                    {# question bank name errors #}
                    {% if form.name.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.name.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Question bank description input -->
                <div class="col-12">
                  <div class="form-group has-icon-left">
                    <label for="id_description">Description</label>
                    <div class="position-relative">
                      <textarea class="form-control {% if form.description.errors %}is-invalid{% endif %}" name="description" id="id_description"
                                {% if form.fields.description.required %}required{% endif %}
                      >{{ form.description.value|default:"" }}</textarea>
                      <div class="form-control-icon"><i class="bi bi-type"></i></div>
                    </div>
                    {# question bank description errors #}
                    {% if form.description.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.description.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Private/public input -->
                <div class="col-12 mt-4">
                  <div class="form-check">
                    <div class="checkbox">
                      <input type="checkbox" id="id_private" name="private" class="form-check-input" {% if form.private.value %}checked{% endif %}>
                      <label for="id_private">Make Question Bank Private</label>
                    </div>
                  </div>

                  {# year errors #}
                  {% if form.private.errors %}
                    <p class="text-danger">{{ e }}
                      {% for e in form.private.errors %}
                        {{ e }}<br>
                      {% endfor %}
                    </p>
                  {% endif %}
                </div>


                <!-- Save button -->
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

      <!-- Delete form-->
      <div class="col-4 m-2">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Delete Question Bank</h4>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'delete-question-bank' question_bank_id=question_bank.id %}">
              {% csrf_token %}
              <!-- delete confirmation -->
              <label for="id_confirmation">Please type <b>{{ request.user.username.lower }}/{{ question_bank.name|slugify }}</b> to confirm.</label>
              <input class="form-control" id="id_confirmation" type="text" oninput="checkConfirmation(this);">

              <!-- delete button -->
              <button class="btn btn-danger mt-3 float-end" id="deleteBtn" type="submit" disabled>Delete</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>

  <script>
      const confirmation = "{{ request.user.username.lower }}/{{ question_bank.name|slugify }}";
      const checkConfirmation = (confirmationTxt) => {
          $("#deleteBtn").prop('disabled', confirmation !== confirmationTxt.value);
      }
  </script>
{% endblock %}
