{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}{{ assessment.name }}{% endblock %}

{% block styles %}
  <style>
      #video {
        border: 1px solid black;
        width: 320px;
        height: 240px;
        display: block;
        margin: auto;
      }

      #canvas {
        border: 1px solid black;
        width: 320px;
        height: 240px;
        display: block;
        margin: auto;
      }
      
      #picture-btn, #clear-btn {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto
      }
  </style>
{% endblock %}

{% block content %}

  <!-- Page Title -->
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last">
          <h5>Assessment</h5>
          <h2>{{ assessment }}</h2>
          {% if assessment.status == "Active" %}
            <span class="badge bg-success">{{ assessment.status }}</span>
          {% else %}
            <span class="badge bg-secondary">{{ assessment.status }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if assessment.published == False %}
    <div class="alert alert-warning">
      <h4 class="alert-heading text-danger">Preview</h4>
      <p class="text-danger fw-bold">This assessment is not published, you are previewing this assessment.</p>
    </div>
  {% endif %}

  {% if assessment.status == "Upcoming" %}
    <!-- No more attempt alert -->
    <div class="alert alert-secondary">
      <h4 class="alert-heading">Upcoming &#x1F4C6;</h4>
      <p>This assessment is not available for participation yet.</p>
    </div>
  {% elif incomplete_attempt %}
    <!-- No more attempt alert -->
    <div class="alert alert-warning mb-4">
      <h4 class="alert-heading">Incomplete attempt &#x23F3;</h4>
      <p><b>You have an incomplete attempt for this assessment, please continue.</b></p>
    </div>
  {% elif assessment.status == "Ended" %}
    <div class="alert alert-secondary">
      <h4 class="alert-heading">Ended &#x1F3C1;</h4>
      <p>The allowed period for this assessment has ended.</p>
    </div>
  {% elif no_more_attempts %}
    <!-- No more attempt alert -->
    <div class="alert alert-secondary mb-4">
      <h4 class="alert-heading">No more attempts &#x26D4;</h4>
      <p><b>You have used up all available attempts for this assessment.</b></p>
    </div>
  {% endif %}

  <!-- Assessment information row -->
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Assessment Information</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h6>Course</h6>
              <p>{{ assessment.course }}</p>
            </div>
            <div class="col-4">
              <h6>Used Attempts</h6>
              <p>{{ attempt_count }} of {{ assessment.num_attempts|default:"Unlimited" }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <h6>Duration</h6>
              <p>{% if assessment.duration %}{{ assessment.duration }} minutes{% else %}Unlimited{% endif %}</p>
            </div>
            <div class="col-4">
              <h6>Time Start</h6>
              <p>{{ assessment.time_start|default_if_none:"-" }}</p>
            </div>
            <div class="col-4">
              <h6>Time End</h6>
              <p>{{ assessment.time_end|default_if_none:"-" }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Attempts History -->
      <div class="card">
        <div class="card-header">
          <h5>Attempts History</h5>
        </div>
        <div class="card-body">
          <table class="table table-responsive-lg">
            <thead>
            <tr>
              <th>Time started</th>
              <th>Time submitted</th>
              <th>Status</th>
              <th>Score ({{ assessment.total_score }})</th>
            </tr>
            </thead>
            <tbody>
            {% if assessment_attempts.count == 0 %}
              <tr>
                <td class="text-center" colspan="4">No attempts found!</td>
              </tr>
            {% else %}
              {% for attempt in assessment_attempts %}
                <tr>
                  <td>{{ attempt.time_started }}</td>
                  <td>{{ attempt.time_submitted|default_if_none:"-" }}</td>
                  <td>
                    {% if attempt.status == "Finished" %}
                      <span class="badge bg-light-success">{{ attempt.status }}</span>
                    {% else %}
                      <span class="badge bg-light-secondary">{{ attempt.status }}</span>
                    {% endif %}
                  </td>
                  <td>
                    {% if assessment.show_grade %}
                      {{ attempt.score|default_if_none:"-" }}
                    {% else %}
                      <span class="badge bg-light-danger">Hidden</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Instructions card -->
    <div class="col-6">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <h4 class="card-title">Instructions for candidates</h4>
            <p class="card-text">
              {{ assessment.instructions|linebreaks }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <div class="row pb-4">
    <div class="col-12 d-flex justify-content-between">
      <div>
        <a class="btn btn-lg btn-outline-secondary me-2" href="{% url 'dashboard' %}">Back to Home</a>
      </div>

      <div>
        {# unpublished: show buttons, for educators access #}
        {# published: only show button if the assessment is still active #}
        {% if assessment.published == False or assessment.published and assessment.status == "Active" %}
          <form id="enter-form" method="POST" action="{% url 'enter-assessment' assessment_id=assessment.id %}">
            <div class="input-group">
              {% csrf_token %}
              {% if incomplete_attempt %}
                <button type="button" id="enter-btn" class="btn btn-lg btn-warning" onClick="enterAssessment(false)">Resume</button>
              {% elif not no_more_attempts %}
                {% if assessment.pin %}
                  <input type="text" class="form-control" name="pin" id="id_pin" placeholder="PIN Required"/>
                {% endif %}
                {% if assessment.require_webcam %}
                  <button type="button" id="next-btn" class="btn btn-lg btn-success" href="#" onClick="viewModal()">Next</button>
                {% else %}
                  <button type="button" id="enter-btn" class="btn btn-lg btn-success" onClick="enterAssessment(true)">Start</button>
                {% endif %}
              {% endif %}
            </div>

            <!-- Candidate initial snapshot modal -->
            <div class="modal fade" id="camera-modal" tabindex="-1">
              <div class="modal-dialog" style="max-width: 80%;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Candidate Identification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" />
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="text-start">Please position your face so it fills most of the window below.</div>
                      <div class="text-start">Hold your matriculation card beside your face.</div>
                      <div class="text-start">Look into the camera and click "Take Picture".</div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col" id="camera">
                        <video id="video">Video stream not available.</video>
                        <button type="button" id="picture-btn" class="btn btn-sm btn-primary" onClick="takePicture()" disabled>Take Picture</button>
                      </div>
                      <div class="col" id="output">
                        <canvas id="canvas"></canvas>
                        <button type="button" id="clear-btn" class="btn btn-sm btn-outline-secondary" onClick="clearPhoto()" disabled>Clear</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="enter-btn" class="btn btn-success" onClick="enterAssessment(true)">Start</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <!-- momentjs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <!-- Webcam script -->
  <script>
    const width = 320; let height = 0;
    let streaming = false;
    let video = document.getElementById("video");
    let canvas = document.getElementById("canvas");
    const pictureBtn = $("#picture-btn");
    const clearBtn = $("#clear-btn");

    function stopCamera() {
      const stream = video.srcObject;
      const tracks = stream.getTracks();
      tracks[0].stop();
    }
  
    function startup() {
      navigator.mediaDevices
        .getUserMedia({ video: true, audio: false })
        .then((stream) => {
          video.srcObject = stream;
          video.play();
        })
        .catch((err) => {
          console.error(`An error occurred: ${err}`);
        });
  
      video.addEventListener(
        "canplay",
        ($e) => {
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth / width);
  
            if (isNaN(height)) {
              height = width / (4 / 3);
            }
  
            video.setAttribute("width", width);
            video.setAttribute("height", height);
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height);
            streaming = true;

            // detect faces
              // only enable pictureBtn and clearBtn if background and env are ok + matric card present
            pictureBtn.prop("disabled", false);
            clearBtn.prop("disabled", false);
          }
        },
        false
      );
    }
  </script>
  <script>
      let form = document.getElementById("enter-form");
      const enterBtn = $("#enter-btn");
      const cameraModal = $("#camera-modal");
      
      let file = null;
      let timestamp;
      let formData;

      const viewModal = () => {
        cameraModal.modal("show");
        enterBtn.prop("disabled", true);
        startup();
      };

      cameraModal.on("hidden.bs.modal", () => { if (streaming) stopCamera(); });

      const clearPhoto = () => {
        const context = canvas.getContext("2d");
        context.fillStyle = "#AAA";
        context.fillRect(0, 0, canvas.width, canvas.height);
      };

      const takePicture = () => {
        timestamp = moment().format("DD-MM-YYYY HH:mm:ss");

        const context = canvas.getContext("2d");
        if (width && height) {
          canvas.width = width;
          canvas.height = height;
          context.drawImage(video, 0, 0, width, height);
    
          let blob = canvas.toBlob(
            (blob) => {
              file = new File([blob], 'initial.png', { type: 'image/png' });
            },
            'image/png');
        }
  
        // only enable enter button after candidate takes an initial snapshot
        enterBtn.prop("disabled", false);
      };
      
      const enterAssessment = (newAttempt) => {
        enterBtn.html("Loading ...");
        enterBtn.prop("disabled", true);

        formData = new FormData(form);
        
        let require_webcam = {{ assessment.require_webcam|yesno:"true,false" }};
        if (newAttempt && require_webcam) {
          let attempt_number = {{ attempt_count }} + 1
          formData.append("attempt_number", attempt_number);
          formData.append("timestamp", timestamp);
          formData.append("image", file);
        }
        
        $.ajax({
          type: 'POST',
          url: "{% url 'enter-assessment' assessment_id=assessment.id %}",
          enctype: 'multipart/form-data',
          data: formData,
          processData: false,
          contentType: false,
        }).done((res) => {
          form.submit();
        }).fail((res) => {
          // console.log("An error occurred!");
        });
      };
  </script>
{% endblock %}
