{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}{{ assessment.name }}{% endblock %}

{% block styles %}
  <!-- Split.js, ace editor css -->
  <style>
      .split {
          display: flex;
          flex-direction: row;
      }

      .gutter {
          background-color: #eee;
          background-repeat: no-repeat;
          background-position: 50%;
      }

      .gutter.gutter-horizontal {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
          cursor: col-resize;
      }

      @font-face {
          font-family: 'JetBrains Mono';
          src: url('{% static 'fonts/JetBrainsMono-Regular.ttf' %}') format('truetype');
          font-weight: normal;
          font-style: normal;
      }

      /* for ace editor */
      .readonly-highlight {
          position: absolute;
          background-color: red;
          opacity: 0.1;
      }
  </style>
  <link rel="stylesheet" href="{% static 'vendors/highlight.js/styles/night-owl.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>

{% endblock %}

{% block content %}
<body onload="WaveDrom.ProcessAll()">
  <!-- Page Title -->
  <div class="page-heading">
    <div class="page-title">
      <div class="row d-flex align-content-between">
        <div class="col-9">
          <h5>Assessment</h5>
          <h2>{{ question_attempt.assessment_attempt.assessment }}</h2>
        </div>
        <div class="col-3">
          <form id="end-assessment-form" method="post"
                action="{% url 'submit-assessment' assessment_attempt_id=assessment_attempt.id %}">
            {% csrf_token %}
            <button class="btn btn-success btn-lg float-end validNavigation" type="button" onclick="submitAssessment(true);">
              End Assessment
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Assessment information row -->
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <div class="row">

            <!-- Question number buttons -->
            <div class="col-9">
              {% for status in question_statuses %}
                {% if status == True %}
                  <a class="btn btn-sm btn-success validNavigation"
                     href="{% url 'attempt-question' assessment_attempt_id=assessment_attempt.id question_index=forloop.counter0 %}">
                    {{ forloop.counter }} {% if forloop.counter0 == question_index|add:"0" %} (current) {% endif %}
                  </a>
                {% else %}
                  <a class="btn btn-sm btn-secondary validNavigation"
                     href="{% url 'attempt-question' assessment_attempt_id=assessment_attempt.id question_index=forloop.counter0 %}">
                    {{ forloop.counter }} {% if forloop.counter0 == question_index|add:"0" %} (current) {% endif %}
                  </a>
                {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Instructions card -->
    <div class="col-3">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <h4 class="card-title">Time Remaining</h4>
            <h1 class="card-text" id="countdown-timer">{% if assessment_attempt.assessment.duration == 0 %}
              Unlimited{% else %}-{% endif %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Question & Answer row -->
  <div class="row">
    <div class="card">
      <!-- split panes -->
      <div class="split">
        <!-- Question pane -->
        <div id="split-0">
          <div class="p-4">
            <h4>{{ code_question.name }}</h4>

            <div id="question-desc">
              {{ code_question.description }}
            </div>

            <hr>

            <!-- sample test case -->
            <h5>Sample Input</h5>
            <pre><code class="language-plaintext rounded">{{ sample_tc.stdin }}</code></pre>

            <!-- wavedrom -->
            {% if is_software_language %}
              <h5>Sample Output</h5>
              <pre><code class="language-plaintext rounded">{{ sample_tc.stdout }}</code></pre>
            {% else %}
              <h5>Sample Waveform</h5>
              <div id="wavedrom" class="nowrap" style="overflow-x: auto">
                <script type="WaveDrom">
                  {{ sample_tc.stdout|safe }}
                </script>
              </div>
            {% endif %}

            <hr>

            <!-- tags -->
            <div id="tags-div">
              <h6>Tags</h6>
              {% for tag in code_question.tags.all %}
                <span class="badge bg-light-secondary">{{ tag.name }}</span>
              {% endfor %}
            </div>

          </div>
        </div>

        <!-- Answer pane -->
        <div id="split-1">
          <div class="p-4">
            <h4>Your answer</h4>

            <div class="row">
              <!-- Language selection -->
              <div class="col-6">
                <label for="lang-select">Language</label>
                <select class="form-select" id="lang-select">
                  {% for cs in code_snippets %}
                    <option data-code="{{ cs.code }}" data-judgeid="{{ cs.language.judge_language_id }}"
                            data-ace-mode="{{ cs.language.ace_mode }}">{{ cs.language.name }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- theme selection -->
              <div class="col-4">
                <label for="theme-select">Theme</label>
                <select class="form-select" id="theme-select">
                  <option value="cloud9_day">Light (Cloud9 Day)</option>
                  <option value="one_dark">Dark (One Dark)</option>
                </select>
              </div>

              <div class="col-2">
                <label></label><br>
                <button class="btn btn-warning btn-block" type="button" onclick="resetCode()">Reset</button>
              </div>

            </div>

            <!-- Ace Code Editor -->
            <div class="row p-2">
              <pre id="editor" class="inner rounded" style="height: 500px;"></pre>
            </div>

            <div class="d-flex justify-content-between">
              <div>
                {% if is_software_language %}
                  <button type="button" id="sample-btn" class="btn btn-warning" onclick="compileAndRun()">Compile and
                  Run<i
                      class="fa-solid fa-play ms-2"></i></button>
                {% else %}
                  <button type="button" id="sample-btn" class="btn btn-warning" onclick="compileAndRun()">Compile<i
                        class="fa-solid fa-play ms-2"></i></button>
                  <button type="button" id="waveform-btn" class="btn btn-info d-none" onclick="viewWaveform()">Run</button>
                {% endif %}
                <button type="button" id="submit-btn" onclick="submit();" class="btn btn-success">Submit</button>
              </div>
              <div>
                <span class="h5" id="run-status">Ready</span>
                <div class="spinner-border spinner-border-sm ms-2" id="main-loading" style="display:none;"></div>
                <br>
                <button type="button" id="more-details" class="btn btn-link p-0 view-modal" onclick="viewModal(this)"
                        style="display:none;">
                  More Details
                </button>
              </div>
            </div>

            <hr>

            <div class="row">
              <h4>Submission History</h4>
              <div class="accordion" id="submissions-accordion">

                {# generate one accordion-item for each submission #}
                {% for cqs in code_question_submissions %}
                  <div class="accordion-item">

                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#submission-{{ cqs.id }}">
                        {{ cqs.time_submitted }}
                        {% if cqs.outcome == "Failed" %}
                          <span class="badge bg-light-danger ms-3" id="cqs-status-{{ cqs.id }}">{{ cqs.outcome }}</span>
                        {% elif cqs.outcome == "Passed" %}
                          <span class="badge bg-light-success ms-3"
                                id="cqs-status-{{ cqs.id }}">{{ cqs.outcome }}</span>
                        {% else %}
                          <span class="badge bg-light-warning ms-3"
                                id="cqs-status-{{ cqs.id }}">{{ cqs.outcome }}</span>
                        {% endif %}
                      </button>
                    </h2>

                    <div id="submission-{{ cqs.id }}" class="accordion-collapse collapse"
                         data-bs-parent="#submissions-accordion">
                      <div class="accordion-body">
                        <div class="row">
                          {% for tca in cqs.testcaseattempt_set.all %}
                            <div class="col-4">
                              {# disable button if TCA is still in queue or processing #}
                              <button id="tca-{{ tca.id }}"
                                      class="btn btn-link p-0 {% if tca.status == 1 or tca.status == 2 %}disabled{% endif %}"
                                      data-token="{{ tca.token }}" onclick="viewModal(this);">
                                Test Case {{ forloop.counter }}
                              </button>
                              <div class="spinner-border spinner-border-sm ms-2" id="tca-loading-{{ tca.id }}"
                                   style="
                                       {% if tca.status == 1 or tca.status == 2 %}{% else %}display: none;{% endif %}"></div>
                              <i class="fa-solid fa-check text-success" id="tca-accepted-{{ tca.id }}"
                                 style="{% if tca.status == 3 %}{% else %}display: none;{% endif %}"></i>
                              <i class="fa-solid fa-xmark text-danger" id="tca-failed-{{ tca.id }}"
                                 style="
                                     {% if tca.status >= 4 and tca.status <= 14 %}{% else %}display: none;{% endif %}"></i>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                  </div>
                {% endfor %}

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab switching warning modal -->
  <div class="modal fade" id="tab-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="bi bi-exclamation-triangle-fill" style="font-size: 2em;"></i>
            &nbsp;&nbsp;&nbsp;Tab Switching Warning
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" />
        </div>
        <div class="modal-body">
          <div>Please do not move out of the test screen.</div>
          <div>You will lose your progress and your test will be submitted automatically.</div>
          <div id="tab-switch-countdown" style="color:red; text-align: center;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'attempts/snippets/accordion-item-template.html' %}
  {% include 'attempts/snippets/test-case-details-modal.html' %}
  {% include 'attempts/snippets/vcd-viewer-modal.html' %}
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
  <script src="{% static 'vendors/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'vendors/highlight.js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>
  {% include "includes/js/mathjax.html" %}
  <!-- momentjs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
  <!-- wavedrom -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavedrom/3.1.0/skins/default.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavedrom/3.1.0/wavedrom.min.js" type="text/javascript"></script>

  <!-- General script -->
  <script>
    // prevent selection of text on attempt page (except text in code editor)
    addEventListener("mousedown", (e) => {
      e.preventDefault();
    });
    addEventListener("selectstart", (e) => {
      e.preventDefault();
    });

      Split(['#split-0', '#split-1'], {
          sizes: [40, 60],
          minSize: 400,
          onDrag: () => {
              editor.resize() // resize code editor when panes are resized
          }
      })

      // hljs
      hljs.highlightAll();

      // marked
      marked.setOptions({
          breaks: true
      })
      $("#question-desc").html(marked.parse("{{ code_question.description|escapejs }}"));

      let validNavigation = false;
      $(document).on('click', '.validNavigation', function () {
          validNavigation = true;
      });
  </script>

  <!-- Tab monitoring -->
  {% if assessment_attempt.assessment.limit_tab_switching %}
  <script>
    const tabModal = $("#tab-modal");
    let leaving_screen_num = 0;

    function randomSeconds(min, max) {
      return  Math.floor(Math.random() * (max - min) + min);
    }

    function handleTabSwitch() {
      leaving_screen_num++;
      tabModal.modal("show");
      if (leaving_screen_num >= 3) {  // force submit test on third tab switch
        let seconds_allowed = randomSeconds(3, 10);
        let seconds_passed = 0;
        $("#tab-switch-countdown").html('- seconds remaining');

        var tabSwitchTimer = setInterval(() => {
          let seconds_remaining = seconds_allowed - seconds_passed;
          $("#tab-switch-countdown").html(`${seconds_remaining} seconds remaining`);
          
          if (seconds_remaining <= 0) {
            clearInterval(tabSwitchTimer);
            submitAssessment(false);
            window.onbeforeunload = (e) => {
              e.preventDefault();
            }
            return;
          }
          else if (seconds_remaining > 0) {
            tabModal.on("hide.bs.modal",
              () => {
                clearInterval(tabSwitchTimer);
              });
          }
          
          seconds_passed++;
        }, 1000);
      }
    }

    // limit tab switching (i.e. limit user moving away from assessment screen)
    window.onblur = () => { handleTabSwitch(); }
  </script>
  {% endif %}

  <!-- Ace code editor config -->
  <script>
      const Range = ace.require("ace/range").Range;

      // language and theme selections
      const langSelect = $("#lang-select");
      const themeSelect = $("#theme-select");

      // initialize ace editor
      let editor = ace.edit("editor");
      editor.renderer.setScrollMargin(10);
      editor.setOptions({
          fontFamily: "JetBrains Mono",
          fontSize: "16px",
          theme: "ace/theme/cloud9_day",
          showPrintMargin: false,
          highlightActiveLine: false,
          wrap: true,
          tabSize: 4,
      });
      editor.setOption("dragEnabled", false);

      // when theme dropdown changed
      themeSelect.change(function () {
          editor.setTheme("ace/theme/" + $(this).val());
      });

      const arrowCommands = ["gotoleft", "gotoright", "golineup", "golinedown"];
      let readonlyRanges = [];
      let markers = [];

      const updateReadonlyRanges = () => {
          // clear previous ranges
          readonlyRanges = [];

          // clear previous markers
          markers.forEach((marker) => {
              editor.session.removeMarker(marker);
          });

          const content = editor.getValue().split("\n");
          let starts = [], ends = [];
          content.forEach((line, idx) => {
              if (line.indexOf("// ro-start") !== -1)
                  starts.push(idx);
              else if (line.indexOf("// ro-end") !== -1)
                  ends.push(idx + 1);
          });

          for (let i = 0; i < starts.length; i++) {
              let r = new Range(starts[i], 0, ends[i], 0);
              let marker = editor.session.addMarker(r, "readonly-highlight", "line");
              readonlyRanges.push(r);
              markers.push(marker);
          }
      };

	  const updatePorts = () => {
		return

		// get the selected option
		const selected = langSelect.find("option:selected")

		// get module header
		const wavedrom = JSON.parse('{{ sample_tc.stdout|safe }}')

		// iterate through all signals
		let module_header = ""
		wavedrom.signal.forEach((signal, index) => {
			// Determine whether it's an input or output based on the signal name
			const direction = signal.name.startsWith("in_") ? "input" : "output"
			// Remove the 'in_' or 'out_' prefix from the signal name
			const portName = signal.name.replace(/^(in_|out_)/, "")

			// Handle bus declarations
			const busMatch = portName.match(/^(.+)\[(\d+):(\d+)\]$/)
			if (busMatch) {
				const busName = busMatch[1]
				const msb = busMatch[2]
				const lsb = busMatch[3]
				module_header += `${direction} [${msb}:${lsb}] ${busName}`
			} else {
				module_header += `${direction} ${portName}`
			}

			// Add a comma for all but the last port declaration
			if (index !== wavedrom.signal.length - 1) {
				module_header += ", "
			}
		})

		if (module_header) {
			// add read only ranges for module header
			module_header = `// ro-start \nmodule top (${module_header});\n// ro-end`

			// set the code snippet
			lines = selected.data("code").split("\n")
			lines[0] = module_header
			editor.session.setValue(lines.join("\n"))
		}
	}

    // function that sets the language and code snippet
    const setLanguage = () => {
      // get the selected option
      const selected = langSelect.find("option:selected")
      // set the code snippet
      editor.session.setValue(selected.data("code"))
      //"{{ is_software_language }}" === "False" ? updatePorts() : editor.session.setValue(selected.data("code"))
      // set ace mode
      editor.session.setMode("ace/mode/" + selected.data("ace-mode"))

      updateReadonlyRanges()
    }

    // set language on first load
    setLanguage()

    // when language dropdown changed
    langSelect.change(function () {
      setLanguage()
    })

    window.addEventListener("load", function () {
      let wavedrom = JSON.parse('{{ sample_tc.stdout|safe }}')
      wavedrom.signal = wavedrom.signal.map((signal) => {
        const nameWithoutPrefix = signal.name.replace(/^in_|^out_/, "")
        signal.name = nameWithoutPrefix
        return signal
      })

      const e = document.getElementById("InputJSON_0")
      e.innerHTML = JSON.stringify(wavedrom)

      // Render the updated waveform
      WaveDrom.RenderWaveForm(0, WaveDrom.eva("InputJSON_0"), "WaveDrom_Display_")
    })

    // when language dropdown changed
    langSelect.change(function () {
        setLanguage();
    });

    // prevent action on read-only lines
    editor.commands.on("exec", function (e) {
        // ignore arrow keys commands
        if (arrowCommands.includes(e.command.name))
            return;

        const pos = editor.selection.getCursor();
        readonlyRanges.forEach((readonlyRange) => {
            if (readonlyRange.inside(pos.row, pos.column) || // cursor inside range (exclusive of start and end)
                readonlyRange.isEnd(pos.row, pos.column) && e.command.name === "backspace" ||  // cursor is at the end ( prevent backspace only)
                readonlyRange.isStart(pos.row, pos.column) ||  // cursor is at the start of the range
                !editor.getSelection().isEmpty() && editor.getSelectionRange().intersects(readonlyRange))  // prevent selection containing readonly area but ends in editable area
            {
                e.preventDefault();
                e.stopPropagation();
            }
        });
    });

    editor.commands.on("afterExec", function (e) {
        // ignore arrow keys commands
        if (arrowCommands.includes(e.command.name))
            return;
        updateReadonlyRanges();
    });

    updateReadonlyRanges();
  </script>

  <!-- Unload warning -->
  <script>
    window.onbeforeunload = function () {
      if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
        window.onblur = () => {};
      }
      
      if (validNavigation) {
          validNavigation = false;
          if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
            setTimeout(() => {
              window.onblur = () => { handleTabSwitch(); }
            }, 1000);
          }
          return;
      }

      if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
        setTimeout(() => {
          window.onblur = () => { handleTabSwitch(); }
        }, 1000);
      }
      return true;
    };
  </script>

  <!-- Reset code editor -->
  <script>
    const resetCode = () => {
      if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
        window.onblur = () => {};
      }
      
      if (confirm("Are you sure you wish to reset?")) {
          setLanguage();
      }

      if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
        setTimeout(() => {
          window.onblur = () => { handleTabSwitch(); }
        }, 1000);
      }
    }
  </script>

  <!-- Code running and submission scripts -->
  <script>
      // main elements
      const runStatus = $("#run-status");
      const moreDetails = $("#more-details");
      const mainLoading = $("#main-loading");
      const sampleBtn = $("#sample-btn");
      const submitBtn = $("#submit-btn");
      const waveformBtn = $("#waveform-btn");

      // test case details modal elements
      const modalToken = $("#m-token");
      const modalLoading = $("#m-loading");
      const modalBody = $("#m-body");
      const modalStdin = $("#m-stdin");
      const modalStdout = $("#m-stdout");
      const modalExpectedOutput = $("#m-expected-output");
      const modalOutcome = $("#m-outcome");
      const modalAccordion = $("#m-accordion")
      const modalError = $("#m-error")
      const modalErrorMsg = $("#m-error-msg")

      // vcdrom modal elements
      const vcdromModal = $("#vcdromModal");

      // display error Toast and set status text
      const showError = (msg) => {
          mainLoading.hide();
          moreDetails.hide();

          runStatus.html(msg);
          Toastify({
              text: "An error has occurred, please refresh the page and try again.",
              duration: -1,
              position: "center",
              style: {"background": "#ff6961"}
          }).showToast();
      };

      // display error Toast only
      const showErrorToast = (msg) => {
          Toastify({
              text: msg,
              duration: 3000,
              position: "center",
              style: {"background": "#ff6961"}
          }).showToast();
      };

      // "compile and run" clicked
      const compileAndRun = () => {
          // disable buttons
          sampleBtn.prop("disabled", true);
          submitBtn.prop("disabled", true);

          // hide more details link
          mainLoading.show();
          moreDetails.hide();
          runStatus.html('Submitting');

          // prepare form data
          let formData = new FormData();
          formData.append("code", editor.getValue());
          formData.append("lang-id", langSelect.find("option:selected").data('judgeid'));
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax call
          $.ajax({
              type: 'POST',
              url: "{% url 'submit-single-test-case' test_case_id=sample_tc.id %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res, textStatus, jqXHR) => {
              if (res.result === "success") {
                  const token = res.token;
                  updateSampleStatus(token);
              }
          }).fail((jqXHR, textStatus, errorThrown) => {
              window.setTimeout(() => {
                  // 4xx status codes
                  if (Math.floor(jqXHR.status / 100) == 4) {
                      console.error('Internal API error!');
                      showError("Internal API Error &#x274C;");
                  }
                  else {
                      console.error('External API error!');
                      showError("External API Error &#x274C;");
                  }
              }, 1000);
          });
      };

      // updates sample status by polling
      const updateSampleStatus = (token) => {
          $.ajax({
              type: 'GET',
              url: "{% url 'get-tc-details' %}",
              data: {token, status_only: false, vcd: '{{ is_software_language }}' === 'False'},
          }).done((res, textStatus, jqXHR) => {
              if (res.result === "success") {
                  if (res.data.status_id === 1 || res.data.status_id === 2) {  // not finished
                      runStatus.html(res.data.status);
                      window.setTimeout(() => {
                          updateSampleStatus(token);
                      }, 1000);
                  } else { // finished
                      if (res.data.status_id === 3)
                          runStatus.html(res.data.status + " &#x2705;");
                      else
                          runStatus.html(res.data.status + " &#x274C;");

                      // enable buttons
                      sampleBtn.prop("disabled", false);
                      submitBtn.prop("disabled", false);
                      // hide loading, show more details link
                      mainLoading.hide();
                      moreDetails.show();
                      // set token
                      moreDetails.data('token', token);
                      // set waveform button if compilation successful
                      if ((res.data.status_id === 3 | res.data.status_id === 4) && '{{ is_software_language }}' === 'False') {
                        waveformBtn.data('vcd', res.data.vcd_output);

                        // show waveform button
                        waveformBtn.removeClass('d-none');
                      }
                      
                  }
              }
          }).fail((jqXHR, textStatus, errorThrown) => {
              // 4xx status codes
              if (Math.floor(jqXHR.status / 100) == 4) {
                  console.error("Internal API Error!");
                  showError("Internal API Error &#x274C;");
              }
              else {
                  console.error("External API Error!");
                  showError("External API Error &#x274C;");
              }
          });
      }

      // "view waveform" clicked
      const viewWaveform = () => {
        const vcd = waveformBtn.data('vcd');
        if (!vcd) {
          showErrorToast("An error has occurred. Please check that you have successfully compiled your code and try again.");
          return;
        }

        // disable buttons
        sampleBtn.prop("disabled", true);
        submitBtn.prop("disabled", true);

        $.ajax({
          type: 'POST',
          url: "{% url 'vcdrom' %}",
          data: {vcd: vcd, csrfmiddlewaretoken: "{{ csrf_token }}"},
        }).done((res, textStatus, jqXHR) => {
          var iframeDocument = modalIframe.contentDocument || modalIframe.contentWindow.document;
          iframeDocument.open();
          iframeDocument.write(res);
          iframeDocument.close();
          vcdromModal.modal('show');
        }).fail((jqXHR, textStatus, errorThrown) => {
          // 4xx status codes
          if (Math.floor(jqXHR.status / 100) == 4) {
              console.error("Internal API Error!");
              showError("Internal API Error &#x274C;");
          }
          else {
              console.error("External API Error!");
              showError("External API Error &#x274C;");
          }
        });

        // enable buttons when modal close
        vcdromModal.on('hidden.bs.modal', () => {
          sampleBtn.prop("disabled", false);
          submitBtn.prop("disabled", false);
        });
      }

      const compareWaveform = (expectedWave, studentWave) => {
        const expectedSignals = JSON.parse(expectedWave).signal
        const studentSignals = JSON.parse(studentWave).signal

        const expectedOutput = expectedSignals.filter((signal) => signal.name.startsWith('out_'))
        const studentOutput = studentSignals.filter((signal) => signal.name.startsWith('out_'))

        const waveformGroups = []

        // Generate mismatch signal
        expectedOutput.forEach((signal, index) => {
          const mismatch = generateMismatch(expectedOutput[index], studentOutput[index])
          const groupedSignals = {signal: [['Input'], {}, ['Yours'], {}, ['Ref'], {}, {'name': 'Mismatch', 'wave': ''}], foot: {tick: 0, every: 5} }
          groupedSignals.signal[6]['wave'] = mismatch
          waveformGroups.push(groupedSignals)
        })

        expectedOutput.forEach((signal, index) => {
          signal.name = signal.name.replace(/^(out_)/, '');
          waveformGroups[index].signal[4].push(signal);
        })

        // Group signals by input and output
        expectedSignals.forEach((signal) => {
          const direction = signal.name.startsWith('in_') ? 'Input' : 'Yours';
          signal.name = signal.name.replace(/^(in_|out_)/, '');

          if (direction === 'Input') {
            // Push to every waveform group
            waveformGroups.forEach((group) => {
              group.signal[0].push(signal)
            })
          }
        })

        studentOutput.forEach((signal, index) => {
          signal.name = signal.name.replace(/^(out_)/, '');
          waveformGroups[index].signal[2].push(signal)
        })

        return waveformGroups
      }

      const generateMismatch = (expectedOutput, studentOutput) => {
        // compare the two outputs
        const expectedWave = expectedOutput.wave
        const studentWave = studentOutput.wave
        const expectedData = expectedOutput.data
        const studentData = studentOutput.data

        const mismatch = {'name': 'Mismatch'}
        let mismatchWave = ''
        let counter = 0 // counter to track data index
        let currentMismatch = 'low'

        let expectedArr = []
        let studentArr = []

        // convert all '.' to previous value
        expectedWave.split('').forEach((char, index) => {
          if (char === '.') {
          expectedArr.push(expectedArr[index - 1])
          } else if (char === '=') {
          expectedArr.push(expectedData[counter])
          counter++
          } else {
          expectedArr.push(char)
          }
        })

        counter = 0

        studentWave.split('').forEach((char, index) => {
          if (char === '.') {
          studentArr.push(studentArr[index - 1])
          } else if (char === '=') {
          studentArr.push(studentData[counter])
          counter++
          } else {
          studentArr.push(char)
          }
        })

        // compare the two strings to generate mismatch
        for (let i = 0; i < expectedArr.length; i++) {
          if (expectedArr[i] === 'x' || studentArr[i] === 'x') {
            i === 0 ? mismatchWave += 'l' : currentMismatch === 'low' ? mismatchWave += '.' : mismatchWave += 'l'
            currentMismatch = 'low'
          } else if (expectedArr[i] === studentArr[i]) {
          i === 0 ? mismatchWave += 'l' : currentMismatch === 'low' ? mismatchWave += '.' : mismatchWave += 'l'
          currentMismatch = 'low'
          } else {
          i === 0 ? mismatchWave += 'h' : currentMismatch === 'high' ? mismatchWave += '.' : mismatchWave += 'h'
          currentMismatch = 'high'
          }
        }

        return mismatchWave
      }

      // "More Details" or "Test Case x" clicked (opens modal)
      const viewModal = (btn) => {
          // get token
          const token = $(btn).data('token');

          // show m-loading, hide m-body
          modalBody.hide();
          modalLoading.show();

          // ajax request
          $.ajax({
              type: 'GET',
              url: "{% url 'get-tc-details' %}",
              data: {token, status_only: false},
          }).done((res, textStatus, jqXHR) => {
              if (res.result === "success") {
                  // set values
                  modalToken.html(token);
                  modalStdin.html(res.data.stdin ? res.data.stdin : '&nbsp;');
                  modalOutcome.html(res.data.status);

                  if ('{{ is_software_language }}' === 'True') {
                    modalStdout.html(res.data.stdout ? res.data.stdout : '&nbsp;');
                    modalExpectedOutput.html(res.data.expected_output ? res.data.expected_output : '&nbsp;');
                  } else {
                    if (res.data.stdout) {
                      // show waveforms
                      modalAccordion.removeClass("d-none")

                      // hide error message
                      modalError.addClass("d-none")

                      const wavedromGroups = compareWaveform(res.data.expected_output, res.data.stdout)

                      wavedromGroups.forEach((wavedrom, index) => {
                        // update accordion header
                        const accordionHeader = document.getElementById(`waveformHeading${index + 1}`);
                        const accordionButton = accordionHeader.querySelector('.accordion-button');
                        let title

                        if (wavedrom.signal[6].wave.includes('h'))
                          title = `${wavedrom.signal[2][1].name}<span style="margin-left: 30px">&#x274C;</span>`
                        else
                          title = `${wavedrom.signal[2][1].name}<span style="margin-left: 30px">&#x2705;</span>`
                        
                        accordionButton.innerHTML = title;

                        // update waveform
                        const modalWavedrom = document.getElementById(`InputJSON_${index + 1}`)
                        modalWavedrom.innerHTML = JSON.stringify(wavedrom)
                        WaveDrom.RenderWaveForm(index + 1, WaveDrom.eva(`InputJSON_${index + 1}`), "WaveDrom_Display_")
                      })
                    } else if (res.data.status_id === 6) {  // compilation error
                      // hide waveforms
                      modalAccordion.addClass("d-none")

                      // show error message
                      modalErrorMsg.html(res.data.compile_output)
                      modalError.removeClass("d-none")
                    }
                  }

                  setTimeout(() => {
                      modalLoading.hide();
                      modalBody.show();
                  }, 500);
              }
          }).fail((jqXHR, textStatus, errorThrown) => {
              // 4xx status codes
              if (Math.floor(jqXHR.status / 100) == 4) {
                console.error("Internal API Error!");
              }
              else {
                console.error("External API Error!");
              }
          });

          // show modal
          $('#detailsModal').modal('show');
      };

      // submit code, create new submission
      const submit = () => {
          // disable buttons
          sampleBtn.prop("disabled", true);
          submitBtn.prop("disabled", true);

          // hide more details link
          mainLoading.show();
          moreDetails.hide();
          runStatus.html('Submitting');

          // prepare form data
          let formData = new FormData();
          formData.append("code", editor.getValue());
          formData.append("lang-id", langSelect.find("option:selected").data('judgeid'));
          formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

          // ajax call
          $.ajax({
              type: 'POST',
              url: "{% url 'code-question-submission' code_question_attempt_id=question_attempt.id %}",
              data: formData,
              processData: false,
              contentType: false,
          }).done((res, textStatus, jqXHR) => {
              if (res.result === "success") {
                  setTimeout(() => {
                      // update status
                      runStatus.html('Processing');

                      // add accordion
                      const clonedAccordionItem = $("#accordion-item-template").clone();
                      clonedAccordionItem.removeAttr('id style');
                      clonedAccordionItem.html(
                          $(clonedAccordionItem).html().replaceAll('__cqs_id__', res.cqs_id).replaceAll('__time_submitted__', res.time_submitted)
                      );

                      res.statuses.forEach((value, idx) => {
                          const clonedTestCase = $("#test-case-template").clone();
                          clonedTestCase.removeAttr('id style');
                          clonedTestCase.html(
                              $(clonedTestCase).html().replaceAll('__tca_id__', value[0]).replaceAll('__idx__', idx + 1).replaceAll('__token__', value[2])
                          );
                          clonedAccordionItem.find(`#submission-${res.cqs_id} > div > div`).append(clonedTestCase);
                      });
                      $("#submissions-accordion").prepend(clonedAccordionItem);
                      $("#submission-" + res.cqs_id).collapse('show');
                      // call updator function
                      updateSubmissionStatus(res.cqs_id);
                  }, 500);
              }
          }).fail((jqXHR, textStatus, errorThrown) => {
              // 4xx status codes
              if (Math.floor(jqXHR.status / 100) == 4) {
                  console.error("Internal API Error!");
                  showError("Internal API Error &#x274C;");
              }
          })
      };

      // polls and updates the status of a submission and its testcases
      const updateSubmissionStatus = (cqs_id) => {
          // ajax request
          $.ajax({
              type: 'GET',
              url: "{% url 'get-cq-submission-status' %}",
              data: {cqs_id},
          }).done((res, textStatus, jqXHR) => {
              if (res.result === "success") {
                  // set submission status (passed/failed/processing)
                  setSubmissionStatus(res.cqs_id, res.outcome);

                  // set testcase statuses
                  res.statuses.forEach((value) => {
                      setTestCaseStatus(value[0], value[1]);
                  });

                  // if submission is still processing, poll again in 1s
                  if (res.outcome === "Processing")
                      window.setTimeout(() => {
                          updateSubmissionStatus(cqs_id);
                      }, 1000);
              }
          }).fail((jqXHR, textStatus, errorThrown) => {
              // 4xx status codes
              if (Math.floor(jqXHR.status / 100) == 4) {
                  console.error("Internal API Error!");
                  showError("Internal API Error &#x274C;");
              }
              else {
                  error("External API Error!");
                  showError("External API Error &#x274C;");
              }
          });
      };

      const setSubmissionStatus = (cqs_id, outcome) => {
          const cqsStatus = $("#cqs-status-" + cqs_id);

          cqsStatus.html(outcome);
          cqsStatus.removeClass("bg-light-danger bg-light-success bg-light-warning");
          if (outcome === "Processing") {
              cqsStatus.addClass("bg-light-warning");
              return;
          } else if (outcome === "Passed")
              cqsStatus.addClass("bg-light-success");
          else if (outcome === "Failed")
              cqsStatus.addClass("bg-light-danger");

          // enable buttons
          sampleBtn.prop('disabled', false);
          submitBtn.prop('disabled', false);
          runStatus.html('Ready');
          mainLoading.hide();
      };

      const setTestCaseStatus = (tca_id, status_id) => {
          const loading = $("#tca-loading-" + tca_id);
          const failed = $("#tca-failed-" + tca_id);
          const accepted = $("#tca-accepted-" + tca_id);

          if (status_id === 1 || status_id === 2) { // loading
              loading.show();
              failed.hide();
              accepted.hide();
          } else if (status_id === 3) { // accepted
              loading.hide();
              failed.hide();
              accepted.show();
              $("#tca-" + tca_id).removeClass("disabled");
          } else {  // failed
              loading.hide();
              failed.show();
              accepted.hide();
              $("#tca-" + tca_id).removeClass("disabled");
          }
      };

      // handle ongoing submissions upon page load
      {% for cqs in code_question_submissions %}
          {% if cqs.outcome == "Processing" %}
              updateSubmissionStatus({{cqs.id}});
              // disable buttons and set status
              sampleBtn.prop("disabled", true);
              submitBtn.prop("disabled", true);
              runStatus.html('Processing');
          {% endif %}
      {% endfor %}
  </script>

  <!-- Submit assessment -->
  <script>
    const submitAssessment = (confirmation) => {
      if (confirmation) {
        if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
          window.onblur = () => {};
        }

        if (confirm("Are you sure you would like to end the assessment attempt?")) {
            document.getElementById("end-assessment-form").submit();
        }
        else {
          if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
            setTimeout(() => {
              window.onblur = () => { handleTabSwitch(); }
            }, 1000);
          }
        }
      }

      else {
        document.getElementById("end-assessment-form").submit();
      }
    }
  </script>

  <!-- Webcam script -->
  {% if assessment_attempt.assessment.require_webcam %}
  <video hidden id="video"></video>
  <canvas hidden id="canvas"></canvas>
  <script>
    const width = 320; let height = 0;
    let streaming = false;
    let video = document.getElementById("video");
    let canvas = document.getElementById("canvas");

    function stopCamera() {
      const stream = video.srcObject;
      const tracks = stream.getTracks();
      tracks[0].stop();
    }
  
    function startup() {
      navigator.mediaDevices
        .getUserMedia({ video: true, audio: false })
        .then((stream) => {
          video.srcObject = stream;
          video.play();
        })
        .catch((err) => {
          console.error(`An error occurred: ${err}`);
        });

      video.addEventListener(
        "canplay",
        ($e) => {
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth / width);

            if (isNaN(height)) {
              height = width / (4 / 3);
            }

            video.setAttribute("width", width);
            video.setAttribute("height", height);
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height);
            streaming = true;
          }
        },
        false
      );
    }
  </script>

  <!-- Capture and upload candidate snapshot -->
  <script>
    function randomMinutes(min, max) {
      min = min * 10;
      max = max * 10;
      return  Math.floor(Math.random() * (max - min) + min) / 10;
    }

    function captureSnapshot() {
      // randomise time between 1 min and 10% of assessment duration
      const a = 1;
      const b = {{ assessment_attempt.assessment.duration }} * 0.1;
      const min = Math.min(a, b);
      const max = Math.max(a, b);
      let minutes = randomMinutes(min, max);
      
      snapshotTimer = setTimeout(captureSnapshot, minutes*60000);

      const current = moment();
      const context = canvas.getContext("2d");
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.drawImage(video, 0, 0, width, height);
        
        let image = null;
        let filename = current.format("DDMMYYYY_HHmmss");
        let timestamp = current.format("DD-MM-YYYY HH:mm:ss");
        let blob = canvas.toBlob(
          (blob) => {
            image = new File([blob], `${filename}.jpg`, { type: 'image/jpg' });
            uploadImage(timestamp, image);
          },
          'image/jpg');
      }
    }

    // ajax request to save image
    function uploadImage(timestamp, image) {
      let formData = new FormData();
      formData.append("attempt_number", "{{ assessment_attempt.total_attempts }}");
      formData.append("timestamp", timestamp);
      formData.append("image", image);
      formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

      $.ajax({
        type: 'POST',
        url: "{% url 'upload-snapshot' assessment_attempt_id=assessment_attempt.id %}",
        enctype: 'multipart/form-data',
        data: formData,
        processData: false,
        contentType: false,
      }).done((res, textStatus, jqXHR) => {
        // console.log("Snapshot uploaded.");
      }).fail((jqXHR, textStatus, errorThrown) => {
        console.error(`An error occurred: ${jqXHR.responseJSON["message"]}`);
      });
    }
  </script>
  {% endif %}
  
  <!-- Timer script -->
  {% if assessment_attempt.assessment.duration != 0 %}
  <script>
      const startTime = moment.unix({{ assessment_attempt.time_started|date:"U" }});
      const endTime = moment(startTime).add({{ assessment_attempt.assessment.duration }}, 'minutes');

      let snapshotTimer;
      let require_webcam = {{ assessment_attempt.assessment.require_webcam|yesno:"true,false" }};
      if (require_webcam) {
        startup();
        captureSnapshot();
      }        
      
      const assessmentTimer = setInterval(() => {
          const now = moment();
          const remaining = moment.duration(endTime.diff(now));
          const formatted = remaining.format('DD:HH:mm:ss');
          $("#countdown-timer").html(formatted);
          
          // check if time ended
          if (now >= endTime) {
              clearInterval(assessmentTimer);
              clearInterval(snapshotTimer);
              submitAssessment(false);
          }
      }, 1000);
  </script>
  {% endif %}
{% endblock %}
