{% extends 'layouts/master.html' %}
{% load static %}
{% load utils %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'vendors/iconly/bold.css' %}">
{% endblock %}

{% block title %}Dashboard - Educators{% endblock %}

{% block content %}
  <div class="page-heading">
    <h1>👋 Hi {{ request.user.username|lower }}, welcome back!</h1>
  </div>
  <div class="page-content">
    <section class="row">
      <!-- left column (main column) -->
      <div class="col-12 col-lg-9">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h6>Active Courses</h6>
                <h1>{{ courses.count }}</h1>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h6>Upcoming Assessments</h6>
                <h1>5</h1>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h6>Ongoing Assessments</h6>
                <h1>2</h1>
              </div>
            </div>
          </div>


        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3>Overview</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <h4>Your active courses</h4>

                  {% if courses.count == 0 %}
                    <p class="fw-bold text-muted">
                      You have no courses yet!
                    </p>
                  {% else %}
                    <div class="accordion mt-2" id="coursesAccordion">
                      {% for course in courses %}
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button {% if forloop.counter != 1 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ forloop.counter }}">
                              <strong>{{ course }}</strong>
                            </button>
                          </h2>
                          <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}"
                               data-bs-parent="#coursesAccordion">
                            <div class="accordion-body">
                              <div class="row">
                                <div class="col-9">
                                  <h5>Active assessments</h5>
                                  <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Date Start</th>
                                      <th>Date End</th>
                                      <th>Duration</th>
                                      <th>Attempts Allowed</th>
                                      <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if course.assessment_set.all.count == 0 %}
                                      <tr>
                                        <td colspan="6" class="text-center">No assessments found!</td>
                                      </tr>
                                    {% else %}
                                      {% for a in course.assessment_set.all %}
                                        <tr>
                                          <td>{{ a.name }}</td>
                                          <td>{{ a.time_start|default_if_none:"-" }}</td>
                                          <td>{{ a.time_end|default_if_none:"-" }}</td>
                                          <td>{% if a.duration %}{{ a.duration }} minutes{% else %}Unlimited{% endif %}</td>
                                          <td>{% if a.num_attempts %}{{ a.num_attempts }}{% else %}Unlimited{% endif %}</td>
                                          <td>
                                            <a class="btn btn-sm btn-secondary" href="{% url 'assessment-details' assessment_id=a.id %}">View</a>
                                            <a class="btn btn-sm btn-secondary" href="{% url 'assessment-report' assessment_id=a.id %}">Report</a>
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    {% endif %}
                                    </tbody>
                                  </table>
                                </div>

                                <div class="col-3 border-start">
                                  <h5>Links</h5>
                                  <a href="{% url 'course-details' course_id=course.id %}" class="fw-bold">Go to course page</a><br>
                                  <a href="{% url 'course-details' course_id=course.id %}#pills-assessments" class="fw-bold">View all assessments</a>
                                </div>

                              </div>
                            </div>

                          </div>
                        </div>

                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- right column -->
      <div class="col-12 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <h5 class="font-bold">Logged in as</h5>
                <h6>@{{ request.user.username }}
                  {% if request.user.is_superuser %}
                    <span class="badge bg-light-danger">ADMIN</span>
                  {% elif request.user|has_group:'student' %}
                    <span class="badge bg-light-success">STUDENT</span>
                  {% elif request.user|has_group:'educator' %}
                    <span class="badge bg-light-warning">EDUCATOR</span>
                  {% elif request.user|has_group:'lab_assistant' %}
                    <span class="badge bg-light-info">LAB ASSISTANT</span>
                  {% endif %}</h6>
                <p class="text-muted mb-0">Last login: {{ request.user.last_login }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/apexcharts/apexcharts.js' %}"></script>
  <script src="{% static 'js/pages/dashboard.js' %}"></script>
{% endblock %}