{% extends 'layouts/master.html' %}
{% load static %}
{% load utils %}

{% block stylesheets %}
{% endblock %}

{% block title %}Dashboard - Students{% endblock %}

{% block content %}
  <div class="page-heading">
    <h1>👋 Hi {{ request.user.username|lower }}, welcome back!</h1>
  </div>
  <div class="page-content">
    <section class="row">
      <!-- left column (main column) -->
      <div class="col-12 col-lg-9">
        <div class="row">

          <!-- active courses -->
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                {% if courses_count == 1 %}
                  <h6>Active Course</h6>
                {% else %}
                  <h6>Active Courses</h6>
                {% endif %}
                <h1>{{ courses_count }}</h1>
              </div>
            </div>
          </div>

          <!-- active assessment -->
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h6>Active Assessments</h6>
                <h1>{{ active_assessments|length }}</h1>
              </div>
            </div>
          </div>

          <!-- upcoming assessments -->
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h6>Upcoming Assessments</h6>
                <h1>{{ upcoming_assessments|length }}</h1>
              </div>
            </div>
          </div>

          <!-- past assessments -->
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h6>Past Assessments</h6>
                <h1>{{ past_assessments|length }}</h1>
              </div>
            </div>
          </div>


        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header pb-0">
                <h3>Your assessments</h3>
                <p class="text-muted">View your upcoming, active and past assessments here.</p>
              </div>
              <div class="card-body">
                <div class="accordion" id="assessmentAccordion">
                  <!-- active -->
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0">
                        <strong>Active ({{ active_assessments|length }})</strong>
                      </button>
                    </h2>
                    <div id="collapse0" class="accordion-collapse collapse show" data-bs-parent="#assessmentAccordion">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col">
                            <table class="table table-responsive">
                              <thead>
                              <tr>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Date Start</th>
                                <th>Date End</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% if active_assessments|length == 0 %}
                                <tr>
                                  <td colspan="5" class="text-center fw-bold">No active assessments</td>
                                </tr>
                              {% else %}
                                {% for a in active_assessments %}
                                  <tr>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.course.name }}</td>
                                    <td>{{ a.time_start|default_if_none:"-" }}</td>
                                    <td>{{ a.time_end|default_if_none:"-" }}</td>
                                    <td>
                                      <a class="btn btn-sm btn-secondary" href="{% url 'assessment-landing' assessment_id=a.id %}">View</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                              {% endif %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- upcoming -->
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                        <strong>Upcoming ({{ upcoming_assessments|length }})</strong>
                      </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#assessmentAccordion">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col">
                            <table class="table table-responsive">
                              <thead>
                              <tr>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Date Start</th>
                                <th>Date End</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% if upcoming_assessments|length == 0 %}
                                <tr>
                                  <td colspan="5" class="text-center fw-bold">No upcoming assessments</td>
                                </tr>
                              {% else %}
                                {% for a in upcoming_assessments %}
                                  <tr>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.course.name }}</td>
                                    <td>{{ a.time_start|default_if_none:"-" }}</td>
                                    <td>{{ a.time_end|default_if_none:"-" }}</td>
                                    <td>
                                      <a class="btn btn-sm btn-secondary" href="{% url 'assessment-landing' assessment_id=a.id %}">View</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                              {% endif %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- past -->
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
                        <strong>Past ({{ past_assessments|length }})</strong>
                      </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#assessmentAccordion">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col">
                            <table class="table table-responsive">
                              <thead>
                              <tr>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Date Start</th>
                                <th>Date End</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% if past_assessments|length == 0 %}
                                <tr>
                                  <td colspan="5" class="text-center fw-bold">No past assessments</td>
                                </tr>
                              {% else %}
                                {% for a in past_assessments %}
                                  <tr>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.course.name }}</td>
                                    <td>{{ a.time_start|default_if_none:"-" }}</td>
                                    <td>{{ a.time_end|default_if_none:"-" }}</td>
                                    <td>
                                      <a class="btn btn-sm btn-secondary" href="{% url 'assessment-landing' assessment_id=a.id %}">View</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                              {% endif %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- right column -->
      <div class="col-12 col-lg-3">
        {% include 'dashboards/snippets/logged_in_as_card.html' %}
      </div>

    </section>
  </div>
{% endblock %}

{% block js %}
{% endblock %}