<!-- Project Contributors modal -->
<!-- Modal -->
<div class="modal fade" id="contributors-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Contributors</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This project was developed and maintained by:
        </p>
        <ul>
          <li>Lee Jun Wei <a href="https://www.linkedin.com/in/leejunweisg/" target="_blank"><i
              class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a></li>
          <li>Liu Wing Lam <a href="https://www.linkedin.com/in/liuwinglam/" target="_blank"><i
              class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a></li>
          <li>Chua Chong Yih <a href="https://www.linkedin.com/in/chuachongyih/" target="_blank"><i
              class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
      <p>NTU Final Year Project 2021-2023</p>
    </div>
    <div class="float-end">
      <a href="#contributors-modal" data-bs-toggle="modal" data-bs-target="#contributors-modal">Project Contributors</a>
    </div>
  </div>
</footer>
