{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}New Code Question{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h2>New Code Question 🆕</h2>
          {% if question_bank != None %}
            <h5 class="text-muted">For question bank: {{ question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For assessment: {{ assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-10 m-2">
        <div class="card">
          <div class="card-body">

            <!-- Tabs (Not clickable) -->
            <ul class="nav nav-pills mb-3">
              <li class="nav-item">
                <p class="nav-link active">Step 1: Description</p>
              </li>
              <li class="nav-item">
                <p class="nav-link">Step 2: Test Cases</p>
              </li>
              <li class="nav-item">
                <p class="nav-link" id="pill-languages-tab">Step 3: Languages</p>
              </li>
            </ul>

            <!-- Tab contents -->
            <form method="POST">
              {% csrf_token %}

              {% if question_bank %}
                <input type="hidden" name="question_bank" value="{{ question_bank.id }}">
              {% endif %}
              {% if assessment %}
                <input type="hidden" name="assessment" value="{{ assessment.id }}">
              {% endif %}

              <div class="tab-content" id="pills-tabContent">

                <!-- First tab (Description) -->
                <div class="tab-pane fade show active pt-3" id="pill-description" role="tabpanel" aria-labelledby="pill-description-tab">

                  <!-- Question Name input -->
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                        <label for="id_name" class="mb-2">Question Name</label>
                        <input type="text" name="name" class="form-control form-control-lg {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
                               placeholder="e.g. Two sum" value="{{ form.name.value|default:"" }}" required>
                        {# name errors #}
                        {% if form.name.errors %}
                          <p class="text-danger">{{ e }}
                            {% for e in form.name.errors %}
                              {{ e }}<br>
                            {% endfor %}
                          </p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="id_tags" class="mb-2">Tags</label>
                        <input type="text" name="tags" id="id_tags"/>
                      </div>
                    </div>
                  </div>

                  <!-- Description input -->
                  <div class="form-group mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <label for="id_description">Question Description</label>
                      <button type="button" class="btn btn-warning btn-sm" id="preview-btn">Show Preview</button>
                    </div>
                    <textarea id="id_description" name="description">{{ description_placeholder|default:"" }}</textarea>
                    {# description errors #}
                    {% if form.description.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.description.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- Create button -->
                  <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-success">Save and Continue</button>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>


  <!-- Configure and initialize SimpleMDE -->
  <script>
      const previewButton = $("#preview-btn");

      // initialize simpleMDE
      let simplemde = new SimpleMDE({
          element: document.getElementById("id_description"),
          toolbar: false,
      });

      // toggle preview on button click
      previewButton.click(function () {
          if (simplemde.isPreviewActive())
              previewButton.text("Show Preview")
          else
              previewButton.text("Show Markdown")
          simplemde.togglePreview();
      });
  </script>

  <!-- choices.js tags -->
  <script>
      // choices.js: code questions tag selector
      const tags = document.getElementById("id_tags");
      let choice1 = new Choices(tags, {
          removeItemButton: true,
      });
  </script>

{% endblock %}
