{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}New Code Question{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h2>New Code Question 🆕</h2>
          {% if question_bank != None %}
            <h5 class="text-muted">For question bank: {{ question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For assessment: {{ assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-10 m-2">
        <div class="card">
          <div class="card-body">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pill-description-tab" data-bs-toggle="pill" href="#pill-description" role="tab"
                   aria-controls="pill-description-tab"
                   aria-selected="true">Step 1: Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pill-test-cases-tab" data-bs-toggle="pill" href="#pill-test-cases" role="tab"
                   aria-controls="pill-test-cases-tab"
                   aria-selected="false">Step 2: Test Cases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pill-languages-tab" data-bs-toggle="pill" href="#pill-languages" role="tab"
                   aria-controls="pill-languages-tab"
                   aria-selected="false">Step 3: Languages</a>
              </li>
            </ul>

            <!-- Tab contents -->
            <form method="POST">
              {% csrf_token %}

              {% if question_bank %}
                <input type="hidden" name="question_bank" value="{{ question_bank.id }}">
              {% endif %}
              {% if assessment %}
                <input type="hidden" name="assessment" value="{{ assessment.id }}">
              {% endif %}

              <div class="tab-content" id="pills-tabContent">

                <!-- First tab (Description) -->
                <div class="tab-pane fade show active pt-3" id="pill-description" role="tabpanel" aria-labelledby="pill-description-tab">

                  <!-- Question Name input -->
                  <div class="form-group">
                    <label for="id_name" class="mb-2">Question Name</label>
                    <input type="text" name="name" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
                           placeholder="e.g. Two sum" value="{{ form.name.value|default:"" }}" required>
                    {# name errors #}
                    {% if form.name.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.name.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- Description input -->
                  <div class="form-group mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <label for="id_description">Question Description</label>
                      <button type="button" class="btn btn-warning btn-sm" id="preview-btn">Show Preview</button>
                    </div>
                    <textarea id="id_description" name="description">{{ description_placeholder|default:"" }}</textarea>
                    {# description errors #}
                    {% if form.description.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.description.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>

                  <!-- Create button -->
                  <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-success">Create</button>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <!-- Configure and initialize SimpleMDE -->
  <script>
      const previewButton = $("#preview-btn");

      // initialize simpleMDE
      let simplemde = new SimpleMDE({
          element: document.getElementById("id_description"),
          toolbar: false,
      });

      // toggle preview on button click
      previewButton.click(function () {
          if (simplemde.isPreviewActive())
              previewButton.text("Show Preview")
          else
              previewButton.text("Show Markdown")
          simplemde.togglePreview();
      });
  </script>

  <!-- TestCase dynamic formset management script -->
  <script>
      const testCasesContainer = $("#test-cases-container");
      const emptyTestCaseRow = $("#empty-test-case-row");
      const totalFormsInput = $("#id_tc-TOTAL_FORMS");
      let totalForms = totalFormsInput.val();

      // function to update all prefixes (internal test cases only as sample test case is always 0)
      const updatePrefixes = () => {
          const regex = RegExp(`tc-(\\d)-`, 'g');
          testCasesContainer.children().each((idx, tcRow) => {
              $(tcRow).html($(tcRow).html().replaceAll(regex, `tc-${idx + 1}-`));
              $("#tc-" + (idx + 1) + "-label").html(idx + 1); // update label
          });
      };

      // add test case row button clicked
      $("#addTestCase-btn").click(() => {
          // increment totalForms
          totalForms++;
          totalFormsInput.val(totalForms);

          // clone empty test-case-row
          const cloned = emptyTestCaseRow.clone();

          // remove id, style
          cloned.removeAttr('id style');

          // update predix
          $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

          // append to container
          testCasesContainer.append(cloned);
      });

      // remove test case clicked
      const removeClicked = (btn) => {
          // decrement total forms
          totalForms--;
          totalFormsInput.val(totalForms);

          // get the parent div
          const toRemove = $(btn).parent().parent();

          // remove and update prefixes
          toRemove.fadeOut('slow', () => {
              toRemove.remove();
              updatePrefixes();
          });
          return false;
      };
  </script>

  <!-- Code Snippet dynamic formset management script -->
  <script>

  </script>

{% endblock %}
