{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}New Code Question{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h2>New Code Question 🆕</h2>
          {% if question_bank != None %}
            <h5 class="text-muted">For question bank: {{ question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For assessment: {{ assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-10 m-2">
        <div class="card">

          <div class="card-body">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pill-description-tab" data-bs-toggle="pill" href="#pill-description" role="tab"
                   aria-controls="pill-description-tab"
                   aria-selected="true">Step 1: Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pill-test-cases-tab" data-bs-toggle="pill" href="#pill-test-cases" role="tab"
                   aria-controls="pill-test-cases-tab"
                   aria-selected="false">Step 2: Test Cases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pill-languages-tab" data-bs-toggle="pill" href="#pill-languages" role="tab"
                   aria-controls="pill-languages-tab"
                   aria-selected="false">Step 3: Languages</a>
              </li>
            </ul>

            <!-- Tab contents -->
            <form>
              <div class="tab-content" id="pills-tabContent">

                <!-- First tab (Description) -->
                <div class="tab-pane fade show active pt-3" id="pill-description" role="tabpanel" aria-labelledby="pill-description-tab">

                  <!-- Question Name input -->
                  <div class="form-group">
                    <label for="id_name" class="mb-2">Question Name</label>
                    <input type="text" class="form-control" id="id_name" placeholder="e.g. Two sum" value="{{ form.name.value|default:"" }}" required>
                  </div>

                  <!-- Description input -->
                  <div class="form-group mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <label for="id_description">Question Description</label>
                      <button type="button" class="btn btn-warning btn-sm" id="preview-btn">Show Preview</button>
                    </div>
                    <textarea id="id_description" name="description">{{ description_placeholder|default:"" }}</textarea>
                  </div>

                  <!-- Next button (to test cases tab) -->
                  <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-success" onclick="$('#pill-test-cases-tab').tab('show')">Next</button>
                  </div>
                </div>

                <!-- Second tab (Test cases) -->
                <div class="tab-pane fade pt-3" id="pill-test-cases" role="tabpanel" aria-labelledby="pill-test-cases-tab">
                  {{ testcase_formset.management_form }}
                  {{ testcase_formset.empty_form }}
                  <h4>Sample Test Cases</h4>

                  <div class="row">
                    <h6>Test Case 1</h6>
                    <div class="col-3">
                      <div class="form-group">
                        <label for="first-name-column">Input</label>
                        <textarea rows="4" id="first-name-column" class="form-control" placeholder="First Name"></textarea>
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="form-group">
                        <label for="last-name-column">Output</label>
                        <textarea rows="4" id="last-name-column" class="form-control" placeholder="Last Name"></textarea>
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="form-group">
                        <label for="id_tc-1-time_limit">Time Limit (ms)</label>
                        <input type="number" class="form-control" name="tc-1-time_limit" min="0" id="id_tc-1-time_limit" value="1000">
                      </div>
                      <div class="form-group">
                        <label for="id_tc-1-memory_limit">Memory Limit (KB)</label>
                        <input type="number" class="form-control" name="tc-1-memory_limit" min="0" id="id_tc-1-memory_limit" value="1000">
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="form-group">
                        <label for="id_tc-1-marks">Score</label>
                        <input type="number" class="form-control" name="tc-1-marks" min="0" id="id_tc-1-marks" value="5">
                      </div>
                      <div class="form-group">
                        <label>Test</label>
                        <div class="form-check">
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox5" class="form-check-input" checked="" control-id="ControlID-35">
                            <label for="checkbox5">Sample</label>
                          </div>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox5" class="form-check-input" checked="" control-id="ControlID-35">
                            <label for="checkbox5">Hidden</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- Navigation buttons -->
                  <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-secondary" onclick="$('#pill-description-tab').tab('show')">Previous</button>
                    <button type="button" class="btn btn-sm btn-success" onclick="$('#pill-languages-tab').tab('show')">Next</button>
                  </div>
                </div>

                <!-- Second tab (Languages) -->
                <div class="tab-pane fade pt-3" id="pill-languages" role="tabpanel" aria-labelledby="pill-languages-tab">
                  <h5>Work in progress! 3</h5>

                  <!-- Navigation buttons -->
                  <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-secondary" onclick="$('#pill-test-cases-tab').tab('show')">Previous</button>
                    <button type="button" class="btn btn-sm btn-success">Submit</button>
                  </div>

                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script>
      let simplemde = new SimpleMDE({
          element: document.getElementById("id_description"),
          toolbar: false,
      });

      const previewButton = $("#preview-btn");

      previewButton.click(function () {
          if (simplemde.isPreviewActive()) {
              previewButton.text("Show Preview")
          } else {
              previewButton.text("Show Markdown")
          }

          simplemde.togglePreview();
      });

  </script>


{% endblock %}
