{% load static %}
{% load utils %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style>
        td {
            vertical-align: top !important;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Tab group row -->
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4>Define Module</h4>
                <p>
                Define a module and specify I/O Ports to generate a module template. For each port specified, MSB and LSB values will be ignored unless its Bus column is checked.
                </p>
                <!-- Form to add new rows -->
                <form id="module_modal_form" method="post">
                    {% csrf_token %}
                    {{ module_formset.management_form }}
                    <button type="button" class="btn btn-light btn-sm shadow-none mb-3" id="add-row">
                        <i class="fa fa-plus" style="color:green" aria-hidden="true"></i>
                    </button>

                    <!-- Module name field -->
                    <div class="form-group">
                        <label for="id_name">Module Name</label>
                        {% if module_formset.0.module_name.errors %}
                        <div>
                            {{ module_formset.0.module_name|add_class:'form-control is-invalid' }}
                        </div>
                        <div class="text-danger pt-2">
                            <ul>
                                {% for error in module_formset.0.module_name.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        {{ module_formset.0.module_name }}
                        {% endif %}
                    </div>

                    <table class="table table-bordered table-responsive">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 38%">Port Name</th>
                                <th style="width: 20%">Direction</th>
                                <th style="width: 1%">Bus</th>
                                <th style="width: 20%">MSB</th>
                                <th style="width: 20%">LSB</th>
                                <th style="width: 1%">Action</th>
                            </tr>
                        </thead>
                        <tbody id="port-table-body">
                            {% for form in module_formset %}
                            <tr>
                                <td style="width: 38%">
                                    {% if form.port_name.errors %}
                                    <div>
                                        {{ form.port_name|add_class:'form-control is-invalid' }}
                                    </div>
                                    <div class="text-danger pt-2">
                                        <ul>
                                            {% for error in form.port_name.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% else %}
                                    {{ form.port_name }}
                                    {% endif %}
                                </td>
                                <td style="width: 20%">
                                    {{ form.port_direction }}
                                </td>
                                <td style="padding-top: 12px; width: 1%; text-align: center">
                                    {{ form.bus }}
                                </td>
                                <td style="width: 20%">
                                    {% if form.msb.errors %}
                                    {{ form.msb|add_class:'form-control is-invalid' }}
                                    <div class="text-danger pt-2">
                                        <ul>
                                            {% for error in form.msb.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% else %}
                                    {{ form.msb }}
                                    {% endif %}
                                </td>
                                <td style="width: 20%">
                                    {% if form.lsb.errors %}
                                    {{ form.lsb|add_class:'form-control is-invalid' }}
                                    <div class="text-danger pt-2">
                                        <ul>
                                            {% for error in form.lsb.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% else %}
                                    {{ form.lsb }}
                                    {% endif %}
                                </td>
                                <td style="padding-top: 12px; width: 1%; text-align: center">
                                    <div id="id_tooltip-wrapper" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top">
                                        <button type="button" class="btn btn-light btn-sm delete-row-btn" id="id_module-0-delete">
                                            <i class="fas fa-trash-alt align-middle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <!-- control table rows -->
    <script>
        // function to update all prefixes
        function updateTablePrefixes () {
            const regex = RegExp(`module-(\\d)-`, 'g');
            $("#port-table-body").children().each((idx, portRow) => {
                // Find all ID attributes within the row
                const attributesToUpdate = $(portRow).find('[id^="id_"]');

                // Update the ID and name attributes for each input element in the row
                attributesToUpdate.each((attrIdx, input) => {
                    const oldId = $(input).attr("id");
                    const newId = oldId.replace(regex, `module-${idx}-`);
                    const newName = newId.replace('id_', '');
                    $(input).attr("id", newId);
                    $(input).attr("name", newName);
                });
            });
        };

        function updateDeleteButton () {
            const deleteButton = document.getElementById(`id_module-0-delete`);
            const totalPortsFormsInput = $("#id_module-TOTAL_FORMS");
            let totalPortsForms = totalPortsFormsInput.val();

            if (totalPortsForms === '1') {
                deleteButton.disabled = true;
                deleteButton.parentNode.setAttribute('title', 'Cannot delete the last row');
            } else {
                // Enable all delete buttons
                const deleteButtons = document.querySelectorAll('.delete-row-btn');
                deleteButtons.forEach(function(button) {
                    button.disabled = false;
                    button.parentNode.removeAttribute('title');
                });
            }
        }

        // Update delete button state on page load
        updateDeleteButton();

        document.getElementById('add-row').addEventListener('click', function() {
            const totalPortsFormsInput = $("#id_module-TOTAL_FORMS");
            let totalPortsForms = totalPortsFormsInput.val();

            // Create a new row by cloning the last row in the table
            var lastRow = document.querySelector('#port-table-body tr:last-child');
            var newRow = lastRow.cloneNode(true);

            // Clear input values in the new row
            var inputs = newRow.querySelectorAll('input');
            inputs.forEach(function(input) {
                // Set MSB and LSB to 0
                if (input.name.includes('msb') || input.name.includes('lsb')) {
                    input.value = 0;
                } else {
                    input.value = '';
                }
            });

            // Clear error messages in the new row
            var errorMessages = newRow.querySelectorAll('.text-danger');
            errorMessages.forEach((message) => {
                message.parentNode.removeChild(message);
            });
            // Remove the is-invalid class from the new row
            var invalidInputs = newRow.querySelectorAll('.is-invalid');
            invalidInputs.forEach((input) => {
                input.classList.remove('is-invalid');
            });

            // Clear the checkbox
            var checkbox = newRow.querySelector('input[type=checkbox]');
            checkbox.checked = false;
            checkbox.value = ''

            // Append the new row to the table body
            document.getElementById('port-table-body').appendChild(newRow);

            // Update the formset index
            totalPortsForms++;
            totalPortsFormsInput.val(totalPortsForms);

            // Update the prefixes of all rows
            updateTablePrefixes();

            // Update the delete button state
            updateDeleteButton();

            // Add event listeners to the new row
            addBusListener(totalPortsForms - 1);
            addDeleteListener(totalPortsForms - 1);
        });

    </script>

    <!-- delete button listener -->
    <script>
        function addDeleteListener (index) {
            const totalPortsFormsInput = $("#id_module-TOTAL_FORMS");
            let totalPortsForms = totalPortsFormsInput.val();

            const btn = document.getElementById(`id_module-${index}-delete`);

            btn.addEventListener('click', function() {
                // Remove the row when the delete button is clicked
                const index = this.id.match(/\d+/)[0];
                const row = $("#port-table-body").children()[index];
                row.remove();

                // Update the formset index and delete button state
                totalPortsForms--;
                totalPortsFormsInput.val(totalPortsForms);
                
                // Update the prefixes of all rows
                updateTablePrefixes();

                // Update the delete button state
                updateDeleteButton();
            });
        }

        // Listen for delete button clicks on page load
        for (let i = 0; i < $("#id_module-TOTAL_FORMS").val(); i++) {
            addDeleteListener(i);
        }
    </script>

    <!-- bus checkbox listener -->
    <script>
        function checkValue(input) {
            const value = parseInt(input.value);
            if (isNaN(value) || value < 0) {
                input.value = 0;
            }
        }

        function updateBusFields(checkbox) {
            const msb = checkbox.parentNode.parentNode.querySelector('input[name*=msb]');
            const lsb = checkbox.parentNode.parentNode.querySelector('input[name*=lsb]');

            if (checkbox.checked) {
                msb.disabled = false;
                lsb.disabled = false;
                checkbox.value = 'on'
            } else {
                msb.disabled = true;
                lsb.disabled = true;
                checkbox.value = ''

                // Reset MSB and LSB values
                msb.value = 0;
                lsb.value = 0;
            }
        }

        function addBusListener(index) {
            var busCheckbox = document.getElementById(`id_module-${index}-bus`);
            updateBusFields(busCheckbox);
        
            busCheckbox.addEventListener('change', () => updateBusFields(busCheckbox));
        }

        // Listen for bus checkbox clicks on page load
        for (let i = 0; i < $("#id_module-TOTAL_FORMS").val(); i++) {
            addBusListener(i);
        }
    </script>

    <!-- load listeners on load -->
    <script>
        window.onload = () => {
            const totalPortsFormsInput = $("#id_module-TOTAL_FORMS");
            let totalPortsForms = totalPortsFormsInput.val();

            // update prefixes on page load
            updateTablePrefixes();

            for (let i = 0; i < totalPortsForms; i++) {
                addBusListener(i);
                addDeleteListener(i);
            }
        };
    </script>
{% endblock %}