{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}Test Cases{% endblock %}

{% block styles %}
  <!-- Ace editor css -->
  <style>
      @font-face {
          font-family: 'JetBrains Mono';
          src: url('{% static 'fonts/JetBrainsMono-Regular.ttf' %}') format('truetype');
          font-weight: normal;
          font-style: normal;
      }

      /* for ace editor */
      .readonly-highlight {
          position: absolute;
          background-color: red;
          opacity: 0.1;
      }
  </style>
  <link rel="stylesheet" href="{% static 'vendors/highlight.js/styles/night-owl.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>

{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h2>Update Test Cases</h2>
          {% if code_question.question_bank != None %}
            <h5 class="text-muted">For {{ code_question.name }} in question bank: {{ code_question.question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For {{ code_question.name }} in assessment: {{ code_question.assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-10 m-2">
        {# Attempts deletion warning #}
        {% if code_question.assessment and code_question.assessment.published == False and code_question.assessment.assessmentattempt_set.count != 0 %}
          <div class="alert alert-warning">
            <p class="text-danger fw-bold">Warning! Updating test cases will delete all existing assessment attempts!</p>
          </div>
        {% endif %}

        <div class="card">
          <div class="card-body">

            <!-- Tabs (Not clickable) -->
            {% if creation %}
              <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                  <p class="nav-link">Step 1: Description</p>
                </li>
                <li class="nav-item">
                  <p class="nav-link" id="pill-languages-tab">Step 2: Languages</p>
                </li>
                <li class="nav-item">
                  <p class="nav-link active">Step 3: Test Cases</p>
                </li>
              </ul>
            {% endif %}

            <!-- Tab contents -->
            <form method="POST">
              {% csrf_token %}
              <div>
                {% if testcase_formset.errors %}
                  <div class="alert alert-danger">Please rectify the issues below</div>
                  <div class="alert alert-danger">
                    {% for error in testcase_formset.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                
                {% if is_software_language %}
                  <h4 class="pb-2">Test Cases</h4>
                  <!-- test cases & code snippet management forms -->
                  {{ testcase_formset.management_form }}

                  <!-- Sample Test case -->
                  <h5>Sample Test Case</h5>
                  {% include 'code_questions/snippets/test-case-row.html' with sample=True prefix="0" form=testcase_formset.0 %}

                  <!-- this div holds all internal test case rows -->
                  <h5>Internal Test Cases</h5>
                  <div id="test-cases-container" class="mt-4">
                    {% for f in testcase_formset|slice:"1:" %}
                      {% include 'code_questions/snippets/test-case-row.html' with prefix=forloop.counter form=f %}
                    {% endfor %}
                  </div>
                {% else %}
                  <!-- test case rows -->
                  {% if question_type == 'Module Design' %}
                    {% include 'code_questions/snippets/module-test-case.html' with testcase_formset=testcase_formset hdl_solution_form=hdl_solution_form %}
                  {% elif question_type == 'Testbench Design' %}
                    {% include 'code_questions/snippets/testbench-test-case.html' with testcase_formset=testcase_formset hdl_solution_form=hdl_solution_form %}
                  {% elif question_type == 'Module and Testbench Design' %}
                    {% include 'code_questions/snippets/module-testbench-test-case.html' with testcase_formset=testcase_formset hdl_solution_form=hdl_solution_form %}
                  {% endif %}
                  

                {% endif %}

                <!-- buttons -->
                <div>
                  <button type="button" class="btn btn-sm btn-warning {% if question_type == 'Testbench Design' %}d-none{% endif %}" id="addTestCase-btn">Add Test Case</button>
                  <button type="submit" class="btn btn-sm btn-success float-end" onclick="">Save and Continue</button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- hidden test-case-row -->
    {% if is_software_language %}
      {% include 'code_questions/snippets/test-case-row.html' with code=False form=testcase_formset.empty_form hidden=True %}
    {% else %}
      {% include 'code_questions/snippets/test-case-row.html' with code=True form=testcase_formset.empty_form hidden=True %}
    {% endif %}



  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'vendors/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>

  <!-- TestCase dynamic formset management script -->
  <script>
      const testCasesContainer = $("#test-cases-container");
      const emptyTestCaseRow = $("#empty-test-case-row");
      const totalFormsInput = $("#id_tc-TOTAL_FORMS");
      let totalForms = totalFormsInput.val();

      // function to update all prefixes (internal test cases only as sample test case is always 0)
      const updatePrefixes = () => {
          const regex = RegExp(`tc-(\\d)-`, 'g');
          testCasesContainer.children().each((idx, tcRow) => {
              // store current stdin, stdout values of this test case row
              let textAreas = $(tcRow).find("textarea");
              const stdin = $(textAreas.get(0)).val();
              const stdout = $(textAreas.get(1)).val();

              // replace html with one with updated prefixes
              $(tcRow).html($(tcRow).html().replaceAll(regex, `tc-${idx + 1}-`));
              $("#tc-" + (idx + 1) + "-label").html(idx + 1); // update label

              // need to .find() again as previous references are no longer valid
              textAreas = $(tcRow).find("textarea");

              // restore the previously stored stdin, stdout values
              $(textAreas.get(0)).val(stdin);
              $(textAreas.get(1)).val(stdout);
          });
      };

      // add test case row button clicked
      $("#addTestCase-btn").click(() => {
          // increment totalForms
          totalForms++;
          totalFormsInput.val(totalForms);

          // clone empty test-case-row
          const cloned = emptyTestCaseRow.clone();

          // remove id, style
          cloned.removeAttr('id style');

          // update prefix
          $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

          // update wavedrom id
          $(cloned).find('[id^="WaveDrom_Display_"]').each(function() {
            var id = $(this).attr('id').replace("WaveDrom_Display_", "");

            $(cloned).find(`[id="WaveDrom_Display_${id}"]`).attr('id', `WaveDrom_Display_${totalForms - 1}`);
            $(cloned).find(`[id="InputJSON_${id}"]`).attr('id', `InputJSON_${totalForms - 1}`);

          });

          // append to container
          testCasesContainer.append(cloned);

          // initialize ace editor for code
          let row_editor_{{totalForms}} = ace.edit(`id_tc-${totalForms - 1}-stdin-editor`);

          row_editor_{{totalForms}}.renderer.setScrollMargin(10);
          row_editor_{{totalForms}}.setOptions({
              fontFamily: "JetBrains Mono",
              fontSize: "16px",
              theme: "ace/theme/cloud9_day",
              showPrintMargin: false,
              highlightActiveLine: false,
              wrap: true,
              tabSize: 4,
          });
          row_editor_{{totalForms}}.setOption("dragEnabled", false);
          row_editor_{{totalForms}}.session.setMode("ace/mode/" + $("#lang-select").find("option:selected").data('ace-mode'));

          // set the value of the editor if it exists
          const code = document.getElementById("testbench_editor").dataset.code;
          if (code)
              row_editor_{{totalForms}}.setValue(code);

          const index = totalForms - 1;

          // Synchronize Ace editor content with the hidden input field
          row_editor_{{totalForms}}.getSession().on('change', function(){
            var code = row_editor_{{index}}.getValue();
            document.getElementById(`id_tc-${index}-stdin`).value = code;
          });

          row_editor_{{totalForms}}.commands.on("afterExec", function (e) {
              // ignore arrow keys commands
              if (arrowCommands.includes(e.command.name))
                  return;
          });
      });

      // remove new row
      const removeClicked = (btn, in_db) => {
          // get the parent div
          const toRemove = $(btn).parent().parent();

          if (in_db) {
              // simply check the checkbox and hide the row
              toRemove.fadeOut('slow', () => {
                  const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                  $(delete_checkbox).prop('checked', true);
              });
          } else {
              // decrement totalForms
              totalForms--;
              totalFormsInput.val(totalForms);

              // remove and update prefixes
              toRemove.fadeOut('slow', () => {
                  toRemove.remove();
                  updatePrefixes();
              });
              return false;
          }
      }

  </script>

  <script>
    // display error Toast and set status text
    const showError = (msg, index) => {
        const runStatus = $(`#id_tc-${index}-run-status`);
        const mainLoading = $(`#id_tc-${index}-main-loading`);
        const moreDetails = $(`#id_tc-${index}-more-details`);
        
        mainLoading.hide();
        moreDetails.hide();

        runStatus.html(msg);
        Toastify({
            text: msg,
            duration: 3000,
            position: "center",
            style: {"background": "#ff6961"}
        }).showToast();
    };
  </script>

  <!-- Generate output button -->
  <script>
    const generateOutput = (elem) => {
      let editor, module, testbench;

      const button_id = elem.id;
      const stdin_id = button_id.replace("button", "stdin");
      const index = button_id.replace("id_tc-", "").replace("-button", "");

      const runStatus = $(`#id_tc-${index}-run-status`);
      const mainLoading = $(`#id_tc-${index}-main-loading`);
      const moreDetails = $(`#id_tc-${index}-more-details`);

      // get the corresponding ace editor and stdin
      if ('{{ question_type }}' == 'Testbench Design') {
        // testcase is module definition
        module = document.getElementById(stdin_id).value;
        testbench = ace.edit("testbench_editor").getValue()
      } else {
        module = ace.edit("module_editor").getValue()
        testbench = document.getElementById(stdin_id).value;
      }

      // check if empty
      if (testbench === "") {
        runStatus.html("Testbench is empty &#x274C;", index);
        return;
      } else if (module === "") {
        runStatus.html("Module Definition is empty &#x274C;", index);
        return;
      }

      mainLoading.show();
      moreDetails.hide()
      runStatus.html('Compiling...');

      $.ajax({
        type: "POST",
        url: "{% url 'compile-code' %}",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          'lang-id': $("#lang-select").find("option:selected").data('judgeid'),
          module: module,
          testbench: testbench,
        },
      }).done((res, textStatus, jqXHR) => {
        if (res.result === "success") {
          updateOutput(res.token, index);

          // set token
          moreDetails.data('token', res.token)
        }
      }).fail((jqXHR, textStatus, errorThrown) => {
          // 4xx status codes
          if (Math.floor(jqXHR.status / 100) == 4) {
              console.error("Internal API Error!");
              showError("Internal API Error &#x274C;", index);
          }
          else {
              console.error("External API Error!");
              showError("External API Error &#x274C;", index);
          }
      });
    }

    // updates sample status by polling
    const updateOutput = (token, index) => {
      $.ajax({
          type: 'GET',
          url: "{% url 'get-tc-details' %}",
          data: {token, status_only: false, vcd: 'true'},
      }).done((res, textStatus, jqXHR) => {
          if (res.result === "success") {
            const runStatus = $(`#id_tc-${index}-run-status`);
            const moreDetails = $(`#id_tc-${index}-more-details`);
            const mainLoading = $(`#id_tc-${index}-main-loading`);

            if (res.data.status_id === 1 || res.data.status_id === 2) {  // not finished
                //runStatus.html(res.data.status);
                window.setTimeout(() => {
                    updateOutput(token, index);
                }, 1000);
            } else { // finished
              if (res.data.status_id === 3)
                runStatus.html('Successful');
              else
                runStatus.html(res.data.status + " &#x274C;");

              mainLoading.hide();

              if (res.data.status_id === 3 | res.data.status_id === 4) {
                const e = document.getElementById(`InputJSON_${index}`);

                let wavedrom = JSON.parse(res.data.stdout)
                wavedrom.signal = wavedrom.signal.map(signal => {
                  const nameWithoutPrefix = signal.name.replace(/^in_|^out_/, "");
                  signal.name = nameWithoutPrefix;
                  return signal;
                });

                // Update the input element's value with the wavedrom value
                e.innerHTML = JSON.stringify(wavedrom);
                WaveDrom.RenderWaveForm(index, WaveDrom.eva(`InputJSON_${index}`), "WaveDrom_Display_")

                // Show the wavedrom div
                const wavedrom_div = document.getElementById(`id_tc-${index}-wavedrom`);
                wavedrom_div.classList.remove("d-none");

                // Set the output value
                const output = document.getElementById(`id_tc-${index}-stdout`);
                output.value = res.data.stdout;
              } else if (res.data.status_id === 6) {  // compilation error
                moreDetails.show();
              } else {
                showError(res.data.stdout, index);
              }
            }
          }
      }).fail((jqXHR, textStatus, errorThrown) => {
          // 4xx status codes
          if (Math.floor(jqXHR.status / 100) == 4) {
              console.error("Internal API Error!");
              showError("Internal API Error &#x274C;", index);
          }
          else {
              console.error("External API Error!");
              showError("External API Error &#x274C;", index);
          }
      });
    }

  </script>

  <!-- Load from file -->
  <script>
    const loadFromFile = (elem) => {
        // get the corresponding text area if software
        const textArea = $(elem).siblings("textarea").first();

        // get the corresponding ace editor if hardware
        const editor_id = $(elem).siblings("pre").first().attr('id');
        const editor = ace.edit(editor_id);

        // create input element in DOM
        let input = document.createElement('input');
        input.type = 'file';
        input.accept = '.txt';

        // define onchange event
        input.onchange = e => {
            // get the selected file
            let file = e.target.files[0];

            // setting up the reader
            let reader = new FileReader();
            reader.readAsText(file, 'UTF-8');

            // set text area value
            reader.onload = readerEvent => {
                textArea.val(readerEvent.target.result);
                editor.setValue(readerEvent.target.result, -1);
            }
        }

        // trigger the file picker
        input.click();

        // clean up
        input.remove()
    }
  </script>

  <script>
    // "More Details" clicked (opens modal)
    const viewModal = (btn) => {
      // get index
      const index = btn.id.replace("id_tc-", "").replace("-more-details", "");

      // get token
      const token = $(btn).data('token');

      // ajax request
      $.ajax({
          type: 'GET',
          url: "{% url 'get-tc-details' %}",
          data: {token, status_only: false},
      }).done((res, textStatus, jqXHR) => {
          if (res.result === "success") {
            // set error details
            $("#error-details").html(res.data.compile_output);

            // show modal
            $("#error-modal").modal('show')
          }
      }).fail((jqXHR, textStatus, errorThrown) => {
          // 4xx status codes
          if (Math.floor(jqXHR.status / 100) == 4) {
              console.error("Internal API Error!");
              showError("Internal API Error &#x274C;", index);
          }
          else {
              console.error("External API Error!");
              showError("External API Error &#x274C;", index);
          }
      });
    }

  </script>
{% endblock %}
