{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}Allowed Languages{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h2>Update Allowed Languages</h2>
          {% if code_question.question_bank != None %}
            <h5 class="text-muted">For {{ code_question.name }} in question bank: {{ code_question.question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For {{ code_question.name }} in assessment: {{ code_question.assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-10 m-2">
        <div class="card">
          <div class="card-body">

            <!-- Tabs (Not clickable) -->
            {% if creation %}
              <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                  <p class="nav-link">Step 1: Description</p>
                </li>
                <li class="nav-item">
                  <p class="nav-link active" id="pill-languages-tab">Step 2: Languages</p>
                </li>
                <li class="nav-item">
                  <p class="nav-link">Step 3: Test Cases</p>
                </li>
              </ul>
            {% endif %}

            <!-- Tab contents -->
            <div class="pt-3">
              {# Attempts deletion warning #}
              {% if code_question.assessment and code_question.assessment.published == False and code_question.assessment.assessmentattempt_set.count != 0 %}
                <div class="alert alert-warning">
                  <p class="text-danger fw-bold">Warning! Updating languages will delete all existing assessment attempts!</p>
                </div>
              {% endif %}

              <h4>Allowed Languages</h4>
              <p>
                Select the programming languages in which candidates can write their code for a programming question. You may select multiple software languages but only one hardware language.
              </p>

              <!-- Languages navbar -->
              <div class="form-group row">
                {% include 'code_questions/snippets/language-navbar-template.html' %}
              </div>

              {% for error in code_snippet_formset.errors %}
                {{ error }}
              {% endfor %}

              <form method="POST">
                {% csrf_token %}

                <!-- code snippet management form -->
                {{ code_snippet_formset.management_form }}

                <!-- this div holds all code snippet rows -->
                <h5 class="mt-5">Code Snippets</h5>

                <div id="code-snippets-container" class="mt-4">
                  {# have existing code snippets #}
                  {% for f in code_snippet_formset %}
                    {% include 'code_questions/snippets/code-snippet-row.html' with prefix=forloop.counter0 form=f lang_id=f.language.value %}
                  {% endfor %}
                </div>

                <!-- buttons -->
                <div>
                  <button type="submit" class="btn btn-sm btn-success float-end" onclick="">Save Languages</button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- hidden code-snippet-row -->
    {% include 'code_questions/snippets/code-snippet-row.html' with form=code_snippet_formset.empty_form hidden=True prefix=None %}

  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>

  <!-- Checkbox script -->
  <script>
      const snippetsContainer = $("#code-snippets-container");
      const emptySnippetRow = $("#empty-code-snippet-row");
      const totalFormsInput = $("#id_cs-TOTAL_FORMS");
      let totalForms = totalFormsInput.val();

      $(".language-checkbox").change(function () {
          const checkbox = $(this);
          const existing = checkbox.data("existing");
          const langId = checkbox.data("lang-id");
          const langName = checkbox.data("lang-name");
          const langTemplate = checkbox.data("lang-template");

          // function to update all prefixes
          const updatePrefixes = () => {
              const regex = RegExp(`cs-(\\d)-`, 'g');

              snippetsContainer.children().each((idx, tcRow) => {
                  $(tcRow).html($(tcRow).html().replaceAll(regex, `cs-${idx}-`));
              });
          };

          if (this.checked) { // checkbox was checked (add)
              if (existing) {
                  const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
                  toShow.fadeIn(300, () => {
                      const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                      $(delete_checkbox).prop('checked', false);
                  });
              } else {
                  // increment totalForms
                  totalForms++;
                  totalFormsInput.val(totalForms);

                  // clone empty snippet row
                  const cloned = emptySnippetRow.clone();

                  // remove id, style
                  cloned.removeAttr('id style');

                  // set id, label and language-id
                  cloned.attr("id", `code-snippet-row-${langId}`);
                  cloned.find(".lang-label").first().html(langName);
                  cloned.find(".lang-id").first().val(langId);
                  cloned.find("textarea").first().text(langTemplate);

                  // update prefix
                  $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

                  // append to container
                  snippetsContainer.append(cloned);
              }

          } else {  // checkbox was unchecked (remove)
              const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);

              if (existing) {
                  // simply check the checkbox and hide the row
                  toRemove.fadeOut(300, () => {
                      const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                      $(delete_checkbox).prop('checked', true);
                  });
              } else {
                  // decrement totalForms
                  totalForms--;
                  totalFormsInput.val(totalForms);

                  // remove and update prefixes
                  toRemove.fadeOut('slow', () => {
                      toRemove.remove();
                      updatePrefixes();
                  });
              }
          }
      });
  </script>

  <!-- Radio button script-->
  <script>
    $(".language-radio").on('change', function () {
      const radio = $(this);
      const existing = radio.data("existing");
      const langId = radio.data("lang-id");
      const langName = radio.data("lang-name");
      const langTemplate = radio.data("lang-template");

      // remove existing row
      $(".language-radio").each((idx, radio) => {
        if ($(radio).data("lang-id") !== langId) {
          const langId = $(radio).data("lang-id");
          const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);
          toRemove.fadeOut('300', () => {
            toRemove.remove();
          });

          // decrement totalForms
          totalForms--;
          totalFormsInput.val(totalForms);
        }
      })

      // increment totalForms
      totalForms++;
      totalFormsInput.val(totalForms);

      // clone empty snippet row
      const cloned = emptySnippetRow.clone();

      // remove id, style
      cloned.removeAttr('id style');

      // set id, label and language-id
      cloned.attr("id", `code-snippet-row-${langId}`);
      cloned.find(".lang-label").first().html(langName);
      cloned.find(".lang-id").first().val(langId);
      cloned.find("textarea").first().text(langTemplate);

      // update prefix
      $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

      // append to container
      snippetsContainer.append(cloned);
    });
  </script>

  <!-- Language tab script-->
  <script>
    $(".languageTab").on('shown.bs.tab', function () {
      const tab = $(this);
      const id = tab.attr('id');

      const updatePrefixes = () => {
        const regex = RegExp(`cs-(\\d)-`, 'g');

        snippetsContainer.children().each((idx, tcRow) => {
          $(tcRow).html($(tcRow).html().replaceAll(regex, `cs-${idx}-`));
        });
      };

      if (id == "software-tab") { // software tab was selected
        $(".language-radio").each((idx, radio) => {
          if ($(radio).prop("checked")) {
            const langId = $(radio).data("lang-id");
            const existing = $(radio).data("existing");
            const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);

            if (existing) {
                // simply check the checkbox and hide the row
                toRemove.fadeOut(300, () => {
                    const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                    $(delete_checkbox).prop('checked', true);
                });
            } else {
                // decrement totalForms
                totalForms--;
                totalFormsInput.val(totalForms);

                // remove and update prefixes
                toRemove.fadeOut('slow', () => {
                    toRemove.remove();
                    updatePrefixes();
                });
            }
          }
        })

        // show the row with the selected language
        $(".language-checkbox").each((idx, checkbox) => {
          const existing = $(checkbox).data("existing");

          if ($(checkbox).prop("checked")) {
            const langId = $(checkbox).data("lang-id");
            const langName = $(checkbox).data("lang-name");
            const langTemplate = $(checkbox).data("lang-template");
            
            if (existing) {
              // uncheck the checkbox
              const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
              toShow.fadeIn(300, () => {
                  const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                  $(delete_checkbox).prop('checked', false);
              });
            } else {
              // increment totalForms
              totalForms++;
              totalFormsInput.val(totalForms);

              // clone empty snippet row
              const cloned = emptySnippetRow.clone();

              // remove id, style
              cloned.removeAttr('id style');

              // set id, label and language-id
              cloned.attr("id", `code-snippet-row-${langId}`);
              cloned.find(".lang-label").first().html(langName);
              cloned.find(".lang-id").first().val(langId);
              cloned.find("textarea").first().text(langTemplate);

              // update prefix
              $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

              // append to container
              snippetsContainer.append(cloned);
            }
        };
      })
      } else if (id == 'hardware-tab') { // hardware tab was selected
        $(".language-checkbox").each((idx, checkbox) => {
          if ($(checkbox).prop("checked")) {
            const langId = $(checkbox).data("lang-id");
            const existing = $(checkbox).data("existing");
            const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);

            if (existing) {
                // simply check the checkbox and hide the row
                toRemove.fadeOut(300, () => {
                    const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                    $(delete_checkbox).prop('checked', true);
                });
            } else {
                // decrement totalForms
                totalForms--;
                totalFormsInput.val(totalForms);

                // remove and update prefixes
                toRemove.fadeOut('slow', () => {
                    toRemove.remove();
                    updatePrefixes();
                });
            }
          }
        })

        $(".language-radio").each((idx, radio) => {
          const existing = $(radio).data("existing");
          
          if (radio.checked) {
            const langId = $(radio).data("lang-id");
            const langName = $(radio).data("lang-name");
            const langTemplate = $(radio).data("lang-template");

            if (existing) {
              // uncheck the checkbox
              const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
              toShow.fadeIn(300, () => {
                  const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                  $(delete_checkbox).prop('checked', false);
              });
            } else {
              // increment totalForms
              totalForms++;
              totalFormsInput.val(totalForms);

              // clone empty snippet row
              const cloned = emptySnippetRow.clone();

              // remove id, style
              cloned.removeAttr('id style');

              // set id, label and language-id
              cloned.attr("id", `code-snippet-row-${langId}`);
              cloned.find(".lang-label").first().html(langName);
              cloned.find(".lang-id").first().val(langId);
              cloned.find("textarea").first().text(langTemplate);

              // update prefix
              $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

              // append to container
              snippetsContainer.append(cloned);
            }
          }
        })
      }
    })
  </script>
{% endblock %}
