<!-- Delete question script -->
<script>
    const actionSpinner = $("#actions-loading");

    const deleteCodeQuestion = (btn) => {
        // confirmation before deletion
        if (confirm("Are you sure you wish to remove the question?\nThis action cannot be reversed.") === true) {
            console.log("Remove code question confirmed.");
        } else {
            return false;
        }

        const code_question_id = btn.dataset.code_question_id;
        actionSpinner.show();

        // prepare form data
        let formData = new FormData();
        formData.append("code_question_id", code_question_id);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

        // ajax request
        $.ajax({
            type: 'POST',
            url: "{% url 'delete-code-question' %}",
            data: formData,
            processData: false,
            contentType: false,
        }).done((res) => {
            setTimeout(() => {
                if (res.result === "success") {
                    // show success toast
                    Toastify({
                        text: "Code Question successfully deleted!",
                        duration: 2000,
                        position: "center",
                        style: {"background": "#77DD77"}
                    }).showToast();

                    // remove row
                    const toRemove = $(btn).parent().parent();
                    toRemove.fadeOut('slow', () => {
                        toRemove.remove();
                    });
                } else {
                    Toastify({
                        text: "Unable to remove the question, please refresh the page.",
                        duration: 5000,
                        position: "center",
                        style: {"background": "#ff6961"}
                    }).showToast();
                }
            }, 300);
        }).fail((res) => {
            Toastify({
                text: "An error has occurred. Please refresh the page.",
                duration: 5000,
                position: "center",
                style: {"background": "#ff6961"}
            }).showToast();
        }).always((res) => {
            setTimeout(() => {
                actionSpinner.hide();
            }, 300);
        });
    }
</script>