{% load utils %}

<div class="container mt-2">
  <!-- Category Tabs -->
  <ul class="nav nav-fill nav-tabs" id="languageTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link {% if code_question.is_software_language %}active{% endif %} languageTab" id="software-tab" data-bs-toggle="tab" data-bs-target="#tab-software" href="#software" role="tab" aria-controls="software" aria-selected="true">Software Languages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if not code_question.is_software_language %}active{% endif %} languageTab" id="hardware-tab" data-bs-toggle="tab" data-bs-target="#tab-hardware" href="#hardware" role="tab" aria-controls="hardware" aria-selected="false">Hardware Languages</a>
    </li>
  </ul>

  <!-- Language Selection Content -->
  <div class="tab-content mt-3" id="languageContent">
    <!-- Software Languages Section -->
    <div class="tab-pane fade {% if code_question.is_software_language %}show active{% endif %}" id="tab-software" role="tabpanel" aria-labelledby="software-tab">
      <div class="row mx-2">
        {% for lang in languages %}
          {% if lang.software_language %}
            <div class="form-check checkbox col-4">
              <input type="checkbox" id="lang-{{ lang.id }}" data-lang-id="{{ lang.id }}" data-lang-name="{{ lang.name }}"
                class="form-check-input language-checkbox" data-lang-template="{{ lang.default_template.code }}"
                {% if lang.id in existing_languages %}checked data-existing="true"{% else %}data-existing="false"{% endif %}>
              <label class="form-check-label" for="lang-{{ lang.id }}">{{ lang.name }}</label>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Hardware Languages Section -->
    <div class="tab-pane fade {% if not code_question.is_software_language %}show active{% endif %}" id="tab-hardware" role="tabpanel" aria-labelledby="hardware-tab">
      <div class="row mx-2">
        {% for lang in languages %}
          {% if not lang.software_language %}
            <div class="form-check radio col-4">
              <input type="radio" id="lang-{{ lang.id }}" name="hardwareLanguage" data-lang-id="{{ lang.id }}" data-lang-name="{{ lang.name }}"
                class="form-check-input language-radio" data-lang-module-template="{{ lang|get_code_template:'Module' }}" data-lang-testbench-template="{{ lang|get_code_template:'Testbench' }}"
                {% if lang.id in existing_languages %}checked data-existing="true"{% else %}data-existing="false"{% endif %}>
              <label class="form-check-label" for="lang-{{ lang.id }}">{{ lang.name }}</label>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
