{% load static %}

<div class="row solution-row">
    {# if id is not None, this is an existing row #}
    {% if form.id.value != None %}
        <input type="hidden" name="solution-0-id" value="{{ form.id.value }}"
            id="id_solution-0-id">
        <input type="checkbox" style="visibility:hidden" class="delete-checkbox"
            name="solution-0-DELETE"
            id="solution-0-DELETE" {% if form.DELETE.value %}checked{% endif %}>
    {% endif %}

    <h4 class="pb-2">Solution</h4>
    <div class="mb-3">
    
    <div class="row">
        <!-- Language selection -->
        <div class="col-4 d-none">
        <label for="lang-select">Language</label>
        <select class="form-select" id="lang-select">
            {% for cs in code_snippet%}
            <option data-code="{{ cs.code }}" data-judgeid="{{ cs.language.judge_language_id }}"
                    data-ace-mode="{{ cs.language.ace_mode }}">{{ cs.language.name }}</option>
            {% endfor %}
        </select>
        </div>

    </div>

    <div class="row">
        <!-- Ace Code Editor -->
        <div class="col">
            <label>Module Definition</label>
            <pre id="sol_editor" class="inner rounded" style="height: 500px;"></pre>
            <input type="hidden" name="solution-0-module" 
               id="id_solution-0-module" 
               value="{{ form.module.value|default:module|default:"" }}">
        </div>

        <!-- Ace Code Editor -->
        <div class="col">
            <label>Testbench</label>
            <pre id="testbench_editor" class="inner rounded" style="height: 500px;"></pre>
            <input type="hidden" name="solution-0-testbench" 
               id="id_solution-0-testbench" 
               value="{{ form.testbench.value|default:testbench|default:"" }}">
        </div>
    </div>

    <div>
        <button class="btn btn-warning btn-sm" type="button" id="generateTestbench-btn" onclick="generateTestbench()">Generate Testbench</button>
        <button class="btn btn-primary btn-sm float-end" type="button" onclick="applyToAll()">Apply to All</button>
    </div>
</div>

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'vendors/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>

    <!-- Ace code editor config -->
    <script>
        const Range = ace.require("ace/range").Range;

        // language and theme selections
        const langSelect = $("#lang-select");
        const themeSelect = $("#theme-select");
        const moduleInput = $("#id_solution-0-module");
        const testbenchInput = $("#id_solution-0-testbench");

        // initialize solution ace editor
        let module_editor = ace.edit("sol_editor");
        module_editor.renderer.setScrollMargin(10);
        module_editor.setOptions({
            fontFamily: "JetBrains Mono",
            fontSize: "16px",
            theme: "ace/theme/cloud9_day",
            showPrintMargin: false,
            highlightActiveLine: false,
            wrap: true,
            tabSize: 4,
        });
        module_editor.setOption("dragEnabled", false);

        // initialize testbench ace editor
        let testbench_editor = ace.edit("testbench_editor");
        testbench_editor.renderer.setScrollMargin(10);
        testbench_editor.setOptions({
            fontFamily: "JetBrains Mono",
            fontSize: "16px",
            theme: "ace/theme/cloud9_day",
            showPrintMargin: false,
            highlightActiveLine: false,
            wrap: true,
            tabSize: 4,
        });
        testbench_editor.setOption("dragEnabled", false);

        const arrowCommands = ["gotoleft", "gotoright", "golineup", "golinedown"];
        let markers = [];

        // function that sets the language and code snippet
        const setLanguage = () => {
            // get the selected option
            const selected = langSelect.find("option:selected");
            // get the solution code
            const module = moduleInput.val();
            const testbench = testbenchInput.val();
            // set the code snippet
            module_editor.session.setValue(module ? module : selected.data('code'));
            testbench_editor.session.setValue(testbench ? testbench : "");
            // set ace mode
            module_editor.session.setMode("ace/mode/" + selected.data('ace-mode'));
            testbench_editor.session.setMode("ace/mode/" + selected.data('ace-mode'));
        };

        // set language on first load
        setLanguage();

        // when language dropdown changed
        langSelect.change(function () {
            setLanguage();
        });

        // Synchronize both Ace editor content with the hidden input field
        module_editor.getSession().on('change', function(){
            var code = module_editor.getValue();
            document.getElementById("id_solution-0-module").value = code;
        });

        testbench_editor.getSession().on('change', function(){
            var code = testbench_editor.getValue();
            document.getElementById("id_solution-0-testbench").value = code;
        });
    </script>

    <!-- Generate Testbench -->
    <script>
        const generateTestbench = () => {
            let editor = ace.edit("sol_editor");
            const module_code = editor.getValue();

            $(document).ready(function() {
                    $.ajax({
                    type: "POST",
                    url: "/testbench/generate/",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        module_code: module_code,
                    },
                    success: function(data) {
                        let testbench_editor = ace.edit("testbench_editor");
                        testbench_editor.setValue(data, -1);
                    },
                    error: function(data) {
                        console.log(data);
                    }
                })
            })
        }
    </script>

    <!-- Apply testbench to all existing test cases -->
    <script>
        const applyToAll = () => {
            // find all testbench editors excluding hidden ones"
            const testbench_editors = document.querySelectorAll("[id^='id_tc-'][id$='-stdin-editor']:not([id='id_tc-{{ prefix|default:'__prefix__' }}-stdin-editor'])");
            
            // get the current testbench
            let testbench_editor = ace.edit("testbench_editor");
            const testbench_code = testbench_editor.getValue();

            // loop through all testbench editors
            testbench_editors.forEach((editor) => {
                // set the testbench code
                ace.edit(editor).setValue(testbench_code);
                ace.edit(editor).clearSelection();
            });

            // store testbench to apply to new test cases
            const testbench = document.getElementById("testbench_editor");
            testbench.dataset.code = testbench_code;
        }
    </script>
{% endblock %}