{% load static %}

<div class="row solution-row">
    <h4 class="pb-2">Solution</h4>
    <div class="mb-3">
    
    <div class="row">
        <!-- Language selection -->
        <div class="col-4 d-none">
        <label for="lang-select">Language</label>
        <select class="form-select" id="lang-select">
            {% for cs in code_snippet%}
            <option data-code="{{ cs.code }}" data-judgeid="{{ cs.language.judge_language_id }}"
                    data-ace-mode="{{ cs.language.ace_mode }}">{{ cs.language.name }}</option>
            {% endfor %}
        </select>
        </div>

    </div>

    <div class="row">
        <!-- Ace Code Editor -->
        <div class="col pe-2">
            <label>Module Definition</label>
            <pre id="module_editor" class="inner rounded" style="height: 500px;"></pre>
            <input type="hidden" name="module" 
            id="id_module" 
            value="{{ form.module.value|default:"" }}">
        </div>

        <!-- Ace Code Editor -->
        <div class="col ps-2">
            <label>Testbench</label>
            <pre id="testbench_editor" class="inner rounded" style="height: 500px;"></pre>
            <input type="hidden" name="testbench" 
            id="id_testbench" 
            value="{{ form.testbench.value|default:"" }}">
        </div>
    </div>

    <div>
        <button class="btn btn-warning btn-sm" type="button" id="generateTestbench-btn" onclick="generateTestbench()">Generate Testbench</button>
        <button class="btn btn-primary btn-sm float-end" type="button" onclick="applyToAll()">Apply to All</button>
    </div>
</div>

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'vendors/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>

    <!-- Error message toast -->
    <script>
        const showErrorToast = (msg) => {
            Toastify({
                text: msg,
                duration: 3000,
                position: "center",
                style: {"background": "#ff6961"}
            }).showToast();
        };
    </script>
    
    <!-- Ace code editor config -->
    <script>
        const Range = ace.require("ace/range").Range;

        // language and theme selections
        const langSelect = $("#lang-select");
        const themeSelect = $("#theme-select");
        const moduleInput = $("#id_module");
        const testbenchInput = $("#id_testbench");

        // initialize solution ace editor
        let module_editor = ace.edit("module_editor");
        module_editor.renderer.setScrollMargin(10);
        module_editor.setOptions({
            fontFamily: "JetBrains Mono",
            fontSize: "16px",
            theme: "ace/theme/cloud9_day",
            showPrintMargin: false,
            highlightActiveLine: false,
            wrap: true,
            tabSize: 4,
        });
        module_editor.setOption("dragEnabled", false);

        // initialize testbench ace editor
        let testbench_editor = ace.edit("testbench_editor");
        testbench_editor.renderer.setScrollMargin(10);
        testbench_editor.setOptions({
            fontFamily: "JetBrains Mono",
            fontSize: "16px",
            theme: "ace/theme/cloud9_day",
            showPrintMargin: false,
            highlightActiveLine: false,
            wrap: true,
            tabSize: 4,
        });
        testbench_editor.setOption("dragEnabled", false);

        const arrowCommands = ["gotoleft", "gotoright", "golineup", "golinedown"];
        let markers = [];

        // function that sets the language and code snippet
        const setLanguage = () => {
            // get the selected option
            const selected = langSelect.find("option:selected");
            // get the solution code
            const module = moduleInput.val();
            const testbench = testbenchInput.val();
            // set the code snippet
            module_editor.session.setValue(module ? module : selected.data('code'));
            testbench_editor.session.setValue(testbench ? testbench : "");
            // set ace mode
            module_editor.session.setMode("ace/mode/" + selected.data('ace-mode'));
            testbench_editor.session.setMode("ace/mode/" + selected.data('ace-mode'));
        };

        // set language on first load
        setLanguage();

        // when language dropdown changed
        langSelect.change(function () {
            setLanguage();
        });

        // Synchronize both Ace editor content with the hidden input field
        module_editor.getSession().on('change', function(){
            var code = module_editor.getValue();
            document.getElementById("id_module").value = code;
        });

        testbench_editor.getSession().on('change', function(){
            var code = testbench_editor.getValue();
            document.getElementById("id_testbench").value = code;
        });

    </script>

    <!-- Generate Testbench -->
    <script>
        const generateTestbench = () => {
            let editor = ace.edit("module_editor");
            const module_code = editor.getValue();

            $(document).ready(function() {
                    $.ajax({
                        type: "POST",
                        url: "/testbench/generate/",
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            module_code: module_code,
                        },
                    }).done((res, textStatus, jqXHR) => {
                        let testbench_editor = ace.edit("testbench_editor");
                        testbench_editor.setValue(res.testbench, -1);
                    }).fail((jqXHR, textStatus, errorThrown) => {
                        // 4xx status codes
                        if (Math.floor(jqXHR.status / 100) == 4) {
                            showErrorToast(jqXHR.responseJSON.message);
                        }
                        else {
                            showErrorToast("Something went wrong. Please try again.");
                        }
                    });
                })
        }
    </script>

    <!-- Apply testbench to all existing test cases -->
    <script>
        const applyToAll = () => {
            let code_editor, code;

            // find all stdin editors excluding hidden ones"
            const stdin_editors = document.querySelectorAll("[id^='id_tc-'][id$='-stdin-editor']:not([id='id_tc-{{ prefix|default:'__prefix__' }}-stdin-editor'])");
            
            // get the current testbench
            if ('{{ question_type }}' === 'Module Design') {
                code_editor = ace.edit("testbench_editor");
                code = testbench_editor.getValue();
            } else {
                code_editor = ace.edit("module_editor");
                code = module_editor.getValue();
            }

            // loop through all stdin editors
            stdin_editors.forEach((editor) => {
                // set the testbench code
                ace.edit(editor).setValue(code);
                ace.edit(editor).clearSelection();
            });
        }
    </script>
{% endblock %}