{% extends 'layouts/master-nav.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-5 order-md-1 order-last">
          <h2>Change Password</h2>
          <p class="text-subtitle text-muted">Change your account's password here!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5 m-2">
        <div class="card">
          <div class="card-body">
            <form class="form form-vertical" method="post">
              {% csrf_token %}
              <div class="form-body">

                {# non-field errors #}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger py-2">{{ error }}</div>
                {% endfor %}

                <!-- Old password input -->
                <div class="col-12">
                  <div class="form-group">
                    <label for="id_old_password">Old Password</label>
                    <div class="position-relative">
                      <input type="password" autocomplete="current-password" autofocus required
                             name="old_password" id="id_old_password"
                             class=" form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                      >
                    </div>
                    {# errors #}
                    {% if form.old_password.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.old_password.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- New password input -->
                <div class="col-12">
                  <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <div class="position-relative">
                      <input type="password" autocomplete="new-password" autofocus required
                             name="new_password1" id="id_new_password1"
                             class=" form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                      >
                    </div>
                    {# errors #}
                    {% if form.new_password1.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.new_password1.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Confirm password input -->
                <div class="col-12">
                  <div class="form-group">
                    <label for="id_new_password2">Confirm Password</label>
                    <div class="position-relative">
                      <input type="password" autocomplete="new-password" autofocus required
                             name="new_password2" id="id_new_password2"
                             class=" form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                      >
                    </div>
                    {# errors #}
                    {% if form.new_password2.errors %}
                      <p class="text-danger">{{ e }}
                        {% for e in form.new_password2.errors %}
                          {{ e }}<br>
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </div>

                <!-- Submit and Reset buttons -->
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
{% endblock %}
